/*GENERAL*/


body{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    background: -webkit-linear-gradient(deeppink, #5DB1FF);
 /* For Safari 5.1 to 6.0 */
}



.photo1{
    width:100vw;
    height: 105vh;
    margin-top: -360px;
    margin-left: -10px;
    border-top: 350px solid #FF4998;
    overflow: hidden;
    z-index: -1;
}

.photo1 img{
    width: 100%;
    z-index: -5;
    margin-top: -300px;

}



.jon{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 250px;
    z-index: 0;
    margin-top: -294px;
    margin-left: 5%;
    margin-bottom: -50px;
    color: deeppink;
    position: static;
}

.burgerman{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 250px;
    z-index: 0;
    margin-top: -5px;
    margin-left: 5%;
    margin-bottom: 0px;
    position: relative;
    color: #5DB1FF;

}




.subhead{
  color: deeppink;
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-left: 30%;
  margin-top: 500px;
  margin-bottom: 600px;
  margin-right: 30%;
  padding: 35px;
  border-radius: 2px;
  animation-name: stretch1;
  animation-duration: 1.5s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  transition: all 1.5s ease-in-out;
}



.subhead:hover{
 transform: scale(2);
  color:#5DB1FF;
  background-color: deeppink;
  margin-right: 30%;
  margin-left: 30%;

}


@keyframes stretch1{
  0%{
    background-color: deeppink;
  }

  100%{
    background-color: #5DB1FF;
  }
}




.caption1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #5DB1FF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;  
    margin-left: 6%;
    margin-right: 10%;
    text-align: left;

}

.captionf{
    margin-top: 50px;
    border-top: 20px;
    margin-bottom: 0px;
    color: #5DB1FF;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;  
    margin-left: 6%;
    margin-right: 10%;
    text-align: left;
}

.firstphoto{
  width:100%;
}

.photo{
    position: absolute;
    width:40%;
    margin-top: 300px;
    margin-left: -80px;
    transition: all 1.5s ease-in-out;
}


.photocaption{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: deeppink;
  margin-top: 600px;
  margin-left: 18%;
  margin-right: 68%;
  padding-left: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 5px;
  position: absolute;
  /*transition: all .5s ease-in-out;*/
  animation-name: stretch1;
  animation-duration: 4s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  transition: all 1.5s ease-in-out;
  opacity: .7;
}


.photocaption:hover{
 transform: scale(6);
  color:#5DB1FF;
  background-color: deeppink;
  margin-left: 43%;
  margin-right: 43%;
  opacity: 1;
}


@keyframes stretch1{
  0%{
    background-color: deeppink;
  }

  100%{
    background-color: #5DB1FF;
  }
}



.photocaption3{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: deeppink;
  margin-top: -1030px;
  margin-left: 68%;
  margin-right: 18%;
  padding-left: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 5px;
  position: absolute;
  /*transition: all .5s ease-in-out;*/
  animation-name: stretch1;
  animation-duration: 4s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  transition: all 1.5s ease-in-out;
  opacity: .7;
}


.photocaption3:hover{
 transform: scale(6);
  color:#5DB1FF;
  background-color: deeppink;
  margin-left: 43%;
  margin-right: 43%;
  opacity: 1;
}


@keyframes stretch1{
  0%{
    background-color: deeppink;
  }

  100%{
    background-color: #5DB1FF;
  }
}





.photocaptionmid{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: deeppink;
  margin-top: 600px;
  margin-left: 18%;
  margin-right: 68%;
  padding-left: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 5px;
  position: absolute;
  /*transition: all .5s ease-in-out;*/
  animation-name: stretch1;
  animation-duration: 4s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  transition: all 1.5s ease-in-out;
  opacity: .7;
}


.photocaptionmid:hover{
 transform: scale(6);
  color:#5DB1FF;
  background-color: deeppink;
  margin-left: 43%;
  margin-right: 43%;
  opacity: 1;
}


@keyframes stretch1{
  0%{
    background-color: deeppink;
  }

  100%{
    background-color: #5DB1FF;
  }
}






.q1{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  font-style: bold;
  color: #FF4998;
  z-index: 7;
  margin-left: 30%;
  margin-right: 10%;
  margin-top: 200px;
}

.a1{
  color: #5DB1FF;
  font-weight: 700;
  margin-left: 50%;
  margin-right: 10%;
  margin-top: -50px;
}

.a2{
  color: #5DB1FF;
  margin-left: 50%;
  margin-right: 10%;
  margin-top: -5px;
}




.quote{
  height: 1500px;
  margin-top: 700px;
  transition: all 5s ease-in-out;
}


.quotetext{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 45px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 300px;
  border-top: 7px solid white;
  border-bottom: 7px solid white;
  padding-top: 200px;
  padding-bottom: 200px;
  z-index: 0;
  position: relative;
}


.last{
  width: 100vw;
  margin-top: 900px;
}


.lastphoto{
  width: 100vw;
  z-index: -10px;
  position: absolute;
  margin-left: -10px;

}

.photocaption2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: deeppink;
  margin-top: -68px;
  margin-left: 18%;
  margin-right: 68%;
  padding-left: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 5px;
  position: absolute;
  /*transition: all .5s ease-in-out;*/
  animation-name: stretch1;
  animation-duration: 4s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  transition: all 1.5s ease-in-out;
  opacity: .7;
}


.photocaption2:hover{
 transform: scale(6);
  color:#5DB1FF;
  background-color: deeppink;
  margin-left: 43%;
  margin-right: 43%;
  opacity: 1;
}


@keyframes stretch1{
  0%{
    background-color: deeppink;
  }

  100%{
    background-color: #5DB1FF;
  }
}






.quotephoto {
  position: absolute;
  opacity: .8;
  width: 100%;
  margin-top: -180px;
  margin-left: -10px;
  z-index: -10;
  animation-name: pulse;
  animation-duration: 2s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes pulse {
  0% {
    background-color: deeppink;
  }
  50% {
  }
  100% {
    background-color: #5DB1FF;
  }
}





.photo2{
  width: 50%;
    position: absolute;
    margin-left: -80px;
    z-index: -10;
}



.credit{
  color: deeppink;
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-left: 30%;
  margin-top: 1000px;
  margin-bottom: 900px;
  margin-right: 30%;
  padding: 35px;
  border-radius: 2px;
  animation-name: stretch1;
  animation-duration: 1.5s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  transition: all 1.5s ease-in-out;
}



.credit:hover{
 transform: scale(2);
  color:#5DB1FF;
  background-color: deeppink;
  margin-right: 30%;
  margin-left: 30%;

}


@keyframes stretch1{
  0%{
    background-color: deeppink;
  }

  100%{
    background-color: #5DB1FF;
  }
}


.lastanswer{
  color: transparent;
  font-weight: 700;
  margin-left: 50%;
  margin-right: 10%;
  margin-top: -50px;
}

















/*MOBILE*/



/*768px is the moment when it transforms. so it changes at 768px */

@media (max-width:640px){
    



.photo1{
    width:100vw;
    z-index: -1;
    overflow: hidden;
    height: 300px;
}

.photo1 img{
    width: 100%;
    z-index: -5;
    margin-top: -20px;
}

.jon{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    z-index: 0;
    margin-left: 5%;
    margin-top: -81px;
    color: deeppink;
    position: static;
}

.burgerman{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    z-index: 0;
    position: relative;
    margin-top: 20px;
    color: #5DB1FF;

}


.caption1{
    font-size: 10px;  
}

.captionf{
    font-size: 10px;
    margin-top: 20px;
}


.subhead{
  font-size: 20px;
  margin-left: 10%;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-right: 10%;
  padding: 15px;
  border-radius: 2px;
  animation-name: stretch1;
  animation-duration: 1.5s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}

.subhead:hover{
   transform: scale(1);
    color:deeppink;
    margin-right: 10%;
    margin-left: 10%;

}


.q1{
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 300px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  color:white;
  animation-name: stretch1;
  animation-duration: 5s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 

}

.a1{
  color: #5DB1FF;
  font-size: 11px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding:30px;
  animation-name: stretch2;
  animation-duration: 8s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}


@keyframes stretch2{
  0%{
    border-right: solid 5px #5DB1FF;
    border-radius: 80px;
    border-left: solid 5px #5DB1FF;
  }

  100%{
    border-right: solid 5px deeppink;
    border-left: solid 5px deeppink;
  }
}

.a2{
  color: #5DB1FF;
  font-size: 11px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding:30px;
  animation-name: stretch2;
  animation-duration: 8s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}


@keyframes stretch2{
  0%{
    border-right: solid 5px #5DB1FF;
    border-radius: 80px;
    border-left: solid 5px #5DB1FF;
  }

  100%{
    border-right: solid 5px deeppink;
    border-left: solid 5px deeppink;
  }
}



.photo{
  width: 40vw;
  position: absolute;
  padding: 150px;
  padding-left: 200px;
  margin-top: 50px;
  z-index: -10;
  margin-top: 300px;
  margin-bottom: 300px;
}



.photocaption{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: white;
  margin-top: 660px;
  margin-left: 68%;
  margin-right: 5%;
  padding-left: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 5px;
  position: absolute;
  /*transition: all .5s ease-in-out;*/
  animation-name: none;
  animation-duration: 0s; 
  animation-timing-function: none; 
  animation-delay: 0;
  animation-direction: none;
  animation-iteration-count: none;
  animation-fill-mode: none;
  animation-play-state: none; 
  transition: none;
  opacity: 1;
}


.photocaption:hover{
 transform: scale(1);
  color:white;
  background-color: transparent;
  margin-left: 68%;
  margin-right: 5%;
  opacity: 1;
}




.quote{
  height: 600px;
  margin-top: 400px;
}


.quotetext{
  font-size: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 500px;
  border-top: none;
  border-bottom: none;
  padding-top: 160px;
  padding-bottom: 260px;
  z-index: 0;
  position: relative;
  animation-name: stretch3;
  animation-duration: .3s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}


@keyframes stretch3{
  0%{
    color:deeppink;
  }

  100%{
    color:#5DB1FF;
  }
}




.quotephoto {
  position: absolute;
  opacity: 1;
  width: 100%;
}


.photocaption3{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: white;
  margin-top: -840px;
  margin-left: 68%;
  margin-right: 5%;
  padding-left: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 5px;
  position: absolute;
  /*transition: all .5s ease-in-out;*/
  animation-name: none;
  animation-duration: 0s; 
  animation-timing-function: none; 
  animation-delay: 0;
  animation-direction: none;
  animation-iteration-count: none;
  animation-fill-mode: none;
  animation-play-state: none; 
  transition: none;
  opacity: 1;
}

.photocaption3:hover{
 transform: scale(1);
  color:white;
  background-color: transparent;
  margin-left: 68%;
  margin-right: 5%;
  opacity: 1;
}


.photo2{
  width: 40vw;
  position: absolute;
  margin-top: -165px;
  padding: 150px;
  padding-left: 200px;
  z-index: -10;
}

.photocaptionmid{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: white;
  margin-top: 180px;
  margin-left: 68%;
  margin-right: 5%;
  padding-left: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 5px;
  position: absolute;
  /*transition: all .5s ease-in-out;*/
  animation-name: none;
  animation-duration: 0s; 
  animation-timing-function: none; 
  animation-delay: 0;
  animation-direction: none;
  animation-iteration-count: none;
  animation-fill-mode: none;
  animation-play-state: none; 
  transition: none;
  opacity: 1;
}

.photocaptionmid:hover{
 transform: scale(1);
  color:white;
  background-color: transparent;
  margin-left: 68%;
  margin-right: 5%;
  opacity: 1;
}



.lastphoto{
  width: 100vw;
  z-index: -10px;
  position: absolute;
  margin-top: -450px;
  margin-bottom: 0px;
}


.photocaption2{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: white;
  margin-top: -560px;
  margin-left: 68%;
  margin-right: 5%;
  padding-left: 10px;
  padding-top:10px;
  padding-right: 5px;
  position: absolute;
  /*transition: all .5s ease-in-out;*/
  animation-name: none;
  animation-duration: 0s; 
  animation-timing-function: none; 
  animation-delay: 0;
  animation-direction: none;
  animation-iteration-count: none;
  animation-fill-mode: none;
  animation-play-state: none; 
  transition: none;
  opacity: 1;
}

.photocaption2:hover{
 transform: scale(1);
  color:white;
  background-color: transparent;
  margin-left: 68%;
  margin-right: 5%;
  opacity: 1;
}


.lastanswer{
  color: transparent;
  font-size: 11px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding:30px;
  animation-name: stretch2;
  animation-duration: 8s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}


@keyframes stretch2{
  0%{
    border-right: solid 5px #5DB1FF;
    border-radius: 80px;
    border-left: solid 5px #5DB1FF;
  }

  100%{
    border-right: solid 5px deeppink;
    border-left: solid 5px deeppink;
  }
}


.credit{
  color: deeppink;
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 600px;
  margin-bottom: 300px;
  margin-right: 10%;
  padding: 35px;
  border-radius: 2px;
  animation-name: stretch1;
  animation-duration: 1.5s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  transition: all 1.5s ease-in-out;
}



.credit:hover{
 transform: scale(1);
  color:deeppink;
  background-color: none;
  margin-right: 10%;
  margin-left: 10%;

}


@keyframes stretch1{
  0%{
    background-color: deeppink;
  }

  100%{
    background-color: #5DB1FF;
  }
}



