h1 {
    background: rgba(255,175,75,1);
background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(99,24,240,1) 27%, rgba(24,240,179,1) 54%, rgba(204,214,62,1) 78%, rgba(255,146,10,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(27%, rgba(99,24,240,1)), color-stop(54%, rgba(24,240,179,1)), color-stop(78%, rgba(204,214,62,1)), color-stop(100%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(99,24,240,1) 27%, rgba(24,240,179,1) 54%, rgba(204,214,62,1) 78%, rgba(255,146,10,1) 100%);
background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(99,24,240,1) 27%, rgba(24,240,179,1) 54%, rgba(204,214,62,1) 78%, rgba(255,146,10,1) 100%);
background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(99,24,240,1) 27%, rgba(24,240,179,1) 54%, rgba(204,214,62,1) 78%, rgba(255,146,10,1) 100%);
background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(99,24,240,1) 27%, rgba(24,240,179,1) 54%, rgba(204,214,62,1) 78%, rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
   color: #CF4200;
   font-size: 100px;
   text-align: left;
   text-transform: uppercase;
   letter-spacing: .3px;
   font-weight: bold;
   border-bottom: 100px solid #E491FF;
/*   display: inline-block;*/
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: auto;
   margin-right: auto;
   font-family: "decimabold";

}

p {
    font-size: 17px;
    color: #18FF03;
  line-height: 3;
  width: 550px;
  position: float;
  margin-left: auto;
  margin-right: auto;
    margin-top: auto;
  font-family: "decima";
}

/*
p:first-of-type {
  font-style: italic;
}

*/

@font-face {
  font-family: "didotbold";
  src: url("DidotLTStd-Bold.otf");
}
@font-face {
  font-family: "didot";
  src: url("Didot.ttc");
}
@font-face {
  font-family: "decimabold";
  src: url("decimabold.otf");
}
@font-face {
  font-family: "decima";
  src: url("DecimaMonoPro.otf");
}


.quote {
    font-size: 10px;
    color:aqua;
  font-style: italic;
    margin-top: -240px;
    letter-spacing: 3px;
}


.sub {
    color:#18FF03;
  font-style: italic;
    margin-top: 0px;
    letter-spacing: 3px;
    font-family: "didotbold"
}

.two {
    color:aqua;
  font-style: italic;
    margin-top: 0px;
    letter-spacing: 3px;
    font-family: "didot"
}

.three {
    color:#18FF03;
  font-style: italic;
    margin-top: 0px;
    letter-spacing: 3px;
    font-family: "decimabold"
}

.four {
    color:aqua;
  font-style: italic;
    margin-top: 0px;
    letter-spacing: 3px;
    font-family: "decima"
}

