/* --- BODY LEVEL --- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	margin: 0;
}

/* --- GENERAL --- */

header > h1 {
	margin: 0 40px 20px;
	padding-top: 40px;
	font-size: 2.2em;
	font-family: 'Inconsolata';
	font-weight: 400;
	color: #681CFF;
	text-transform: none;
}
section > h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
	color: gray;
	margin-top: 40px;
}
p, ul {
	margin: 0;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #53E0BB;
}
.starter {
	color: gray;
}
.smallcap {
	text-transform: uppercase;
	letter-spacing: .5px;
	font-size: .9em;
}

/* --- SPECIFIC --- */

/* header section */
.header {
	padding-bottom: 40px;
}
.header nav {
	padding: 40px 40px 0;
	font-family: 'Inconsolata';
}
.header:after {
	content: "";
	display: table;
	clear: both;
}
.header h1 {
	display: inline-block;
	font-size: 4em;
	color: #444444;
	font-weight: 400;
	width: 50%;
}
.header div {
	padding: 60px 60px 0 0;
	float: right;
}
.header p {
	color: gray;
}

/* schedule section */
.sched {
	background: #efefef;
	padding-bottom: 80px;
}
.sch-tab {
	margin: 0 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 16px;
	background: #ffffff;
}
.thiswk {
	border-left: 3px solid #681CFF;
}
.sch-tab p {
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 1.25em;
	display: block;
}
.desk-cat {
	background: none;
	margin-bottom: 0;
}
.desk-cat p {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1em;
	letter-spacing: 1px;
}
.sch-col {
	width: 40%;
	padding: 20px;
}
.sch-col:first-of-type {
	width: 20%;
}
.noclass {
	opacity: .45;
}

/* info section */
.info {
	padding-bottom: 40px;
}
.info.gray {
	background: #efefef;
}
.info p, section.info > h1, .info ul {
	padding: 0 40px;
	margin-bottom: 16px;
	width: 60%;
	font-size: 1.5em;
}
.info ul {
	padding-left: 64px;
}
.info p.quote {
    padding: 20px 80px;
    color: gray;
    box-sizing: border-box;
}

/* submitted */
.submitted p {
	margin-bottom: 0;
}

/* image examples */
.hw-screenshot {
    padding: 0 40px;
    width: 36%;
    float: right;
}

/* footer */
footer {
	background: #efefef;
	background: #ffffff;
	border-top: 2px solid #efefef;
	padding: 0 40px 12px 0;
}
footer ul {
}
footer li {
	display: inline-block;
	font-family: 'Inconsolata';
	font-weight: 800;
	font-size: .8em;
	padding-top: 10px;
}
footer li:last-of-type {
	float: right;
}

/* --- MOBILE --- */

/* Medium screens */
@media all and (max-width: 800px) {
	.header div {
		float: none;
		padding-left: 40px;
	}
	.info p, .info ul, section.info > h1 {
		width: 100%;
		font-size: 1.2em;
	}
    .hw-screenshot {
        padding: 0 40px;
        width: 100%;
        float: none;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
	header h1,
	.sch-tab {
		margin-left: 16px;
		margin-right: 16px;
	}
	.header h1 {
		font-size: 3em;
	}
	.sch-col, .sch-col:first-of-type {
		width: 100%;
		padding: 5px;
	}	
	.desk-cat {
		display: none;
	}
	.sch-col p {
		display: block;
		margin-left: 30%;
	}
	.sch-col.week::before, .sch-col.agenda::before, .sch-col.assign::before {
		display: inline-block;
		font-family: 'Dosis', sans-serif;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1em;
		letter-spacing: 1px;
		float: left;
		margin-top: 6px;
	} 
	.sch-col.week::before {
		content: "Week";
	}
	.sch-col.agenda::before {
		content: "Agenda";
	}
	.sch-col.assign::before {
		content: "HW";
	}
	.header div, .info p, section.info > h1 {
		padding: 0 16px;
	}
	footer ul {
	    padding: 0 0 0 16px;
	}
}

/* --- PRINT --- */

@media print {
}