article {
    font-size: 16px;
}

.asudolcover {
    margin: -10px;
}

.asudolcover img {
    width: 100%;
}


.headlines {
    position: absolute;
    z-index: 1;
    color: #ffff00;
    top: 520px;
    padding: 15px 40px;
}

.title h1{
    font-family: 'Alegreya', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 4.25em;
    line-height: 1.15;
    padding-bottom: 20px;
    border-bottom: 6px solid #ffff66;
}

.subhead {
    margin-top:-35px;
    margin-left: 480px;
    font-size: 1.25em;
    font-family: 'Oswald', sans-serif;
    color: #ffff66;
}

.byline {
    float: right;
    margin-top: -5%;
    font-size: 1.15em;
    color: 	#b3b3b3;
    
    
}

.introblurb {
    position: absolute;
    z-index: 1;
    color: white;
    left: 75%;
    top: 10px;
    padding: 40px 40px 0px 0px;
}

.summdeck h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: 	#b3b3b3;
}

.summdeck p {
    font-family: 'Alegreya', serif;
    font-weight: 400;
}

.main {
    background: linear-gradient(#ffff66, #ffccff);
    margin: -10px;
}

section {
    padding: 75px 250px;
}

section:first-of-type {
    padding-top: 150px;
}

section:last-child {
    padding-bottom: 150px;
}

.question {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
    color: #737373;
}

.answer {
    font-family: 'Alegreya', serif;
    font-size: 1.3em;
}

/* MOBILE */

@media (max-width:640px) {
    
    article {
        font-size: 14px;
    }
    
    .asudolcover img {
        margin-top: -30px;
    }
    .headlines {
        background-color: #330033;
        color: white;
        position: relative;
        top: 0px;
        margin:-10px;
    }
    
    .headlines h1{
        border-bottom: 0px;
        padding-left: 50px;
    }
    
    .subhead {
        margin-left: 0px;
        padding: 50px;
    }
    
    .byline {
        margin-left: 0px;
        float: left;
    }
    
    section {
        padding: 80px;
    }
}
