h1 {
  font-size: 100px;
  font-family: 'Butcherman', cursive;
  letter-spacing: 50px;
  line-height: 120px;
  padding-bottom: 20px;
  border-width: 10px;
  margin-top: 10px;
  border-bottom-style:ridge;
  background: -webkit-linear-gradient(red, blue);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 20px;
  margin-top: 50px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 700px;
  width: 500px;
  color: white;
}

h3 {
  font-size: 20px;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 700px;
  width: 500px;
  color: blue;
}
