body{
  margin: 0px;

}

h1{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #EE3A43;
  font-size: 25;
  padding-top: 15%;

}
.header{
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  /*background-color: pink;*/
  background-image: url("http://49.media.tumblr.com/7cd4855f68338a9cd4bbc34a1817197e/tumblr_o4gjfvOlAL1qag1xio1_1280.gif");
  background-size: 500px;
  background-attachment: fixed;
  margin: 0px;
  background-position: center center, 20% 80%, top left, bottom right;
  /*position: fixed;
  z-index: -10000;*/
}

.footer{
  width: 100%;
  height: 100vh;
  background-image: url("http://49.media.tumblr.com/7cd4855f68338a9cd4bbc34a1817197e/tumblr_o4gjfvOlAL1qag1xio1_1280.gif");
  background-size: 500px;
  background-attachment: fixed;
  margin: 0px;
  background-position: center center, 20% 80%, top left, bottom right;
}
h5{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #EE3A43;
  font-size: 16;
  line-height: 0;

}
.colophon{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35vh;
}

.title{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.logo:hover{
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
  transition: transform 1.5s ease-in-out;
}
img{
  min-width: 100%;
  /*border: 5px solid #EE3A43*/
}
h2{
  font-family: 'Quicksand', sans-serif;
  color: #AF1F70;
  font-weight: 400;
  font-size: 15;
  line-height: 1.4;
}
h3{
  font-family: 'Quicksand', sans-serif;
  color: #AF1F70;
  font-weight: 700;
  font-size: 15;
}
.subhead{
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}
h4{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #EE3A43;
  font-size: 30;
}
.q1{
  width: 430px;
  margin-left: 100px;
  margin-top: -50px;
}
.interview{
  width: 1000px;
  height: 7300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px;
}
p{
  font-family: 'Quicksand', sans-serif;
  color: #DEDEDE;
  font-weight: 400;
  font-size: 15;
  line-height: 1.4;
}
.a1{
  width: 400px;
  margin-left: 230px;
  margin-top: 30px;
}

.q:hover{
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  /*transition: transform .5s ease-in-out;*/
}

.image1{
  width: 450px;
  position: absolute;
  z-index: -1;
  margin-top: -200px;
  margin-left: 450px;
}

.shape1{
  width: 350px;
  position: absolute;
  z-index: -5;
  margin-top: -650px;
  margin-left: 200px;
}
.shape{
  width: 475px;
  position: absolute;
  z-index: -5;
  margin-top: -375px;
  margin-left: 100px;
  opacity: ;
}
.contain{
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 300px;
  /*background-color: pink;*/
  margin-left: auto;
  margin-right: auto;
  /*border: 30px solid #EE3A43;*/
  transition: width 1.3s ease-in-out;
  image-attachment: fixed;
}
.portrait{
  width: 100%;
  max-height: 500px;

}

.q2{
  width: 400px;
  margin-left: 360px;
  margin-top: 500px;
  /*background-color: pink;*/
}
.shape2{
  width: 450px;
  position: absolute;
  z-index: -5;
  margin-top: -300px;
  margin-left: 400px;
}
.a2{
  width: 400px;
  margin-left: 530px;
  margin-top: 30px;
}
.image2{
  width: 400px;
  position: absolute;
  z-index: -1;
  margin-top: -475px;
  margin-left: 250px;
}

.q3{
  width: 430px;
  margin-left: 100px;
  margin-top: 450px;
}
.q5{
  width: 430px;
  margin-left: 100px;
  margin-top: 450px;
}
.shape3{
  width: 400px;
  position: absolute;
  z-index: -5;
  margin-top: -400px;
  margin-left: 200px;
}
.a3{
  width: 400px;
  margin-left: 230px;
  margin-top: 30px;
  /*background-color: pink;*/
}
.image{
  position: absolute;
  z-index: -10;
}
.image:hover{
  z-index: 100;
}
.shape4{
  width: 400px;
  position: absolute;
  z-index: -5;
  margin-top: -350px;
  margin-left: 430px;
}
.image3{
  width: 500px;
  position: absolute;
  z-index: -1;
  margin-top: -225px;
  margin-left: 400px;
}
.image4{
  width: 500px;
  position: absolute;
  z-index: -1;
  margin-top: -225px;
  margin-left: 200px;
}
.shape5{
  width: 400px;
  position: absolute;
  z-index: -5;
  margin-top: -350px;
  margin-left: 230px;
}
.image5{
  width: 350px;
  position: absolute;
  z-index: -1;
  margin-top: -400px;
  margin-left: 450px;
}
.q4{
  width: 475px;
  margin-left: 360px;
  margin-top: 500px;
}
.q6{
  width: 475px;
  margin-left: 360px;
  margin-top: 500px;
}
.shape6{
  width: 500px;
  position: absolute;
  z-index: -5;
  margin-top: -450px;
  margin-left: 430px;
}

.shop{
  width: 100%;
  margin: 0px;

}
.contain2{
  margin: 0px;
}


/*MOBILE*/
@media (max-width: 1000px){
  .interview{
    width: 100%;
    height: 5500px;
  }
  h1{
    margin-left: 10%;
  }
  h4{
    font-size: 24;
  }
  p{
    font-size: 12;
  }
  .q1{
    width: 300px;
    margin-left: 20%;
    margin-top: -200px;
  }
  .shape1{
    width: 10px;
    margin-top: -550px;
    margin-left: 100px;
  }
  .a1{
    width: 300px;
    margin-left: 30%;
    margin-top: 50px;
  }
  .image1{
    width: 40%;
    margin-left: 50%;
  }
  .q2{
    width: 300px;
    margin-left: 20%;
    margin-top: 250px;
  }
  .shape2{
    width: 10px;
    margin-top: -185px;
    margin-left: 50px;
  }
  .a2{
    width: 300px;
    margin-left: 30%;
    margin-top: 50px;
  }
  .image2{
    width: 30%;
    margin-left: 50%;
    margin-top: -300px;
  }
  .q3{
    width: 300px;
    margin-left: 20%;
    margin-top: 350px;
  }
  .shape3{
    width: 10px;
    margin-top: -285px;
    margin-left: 50px;
  }
  .a3{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .image3{
    width: 30%;
    margin-left: 50%;
    margin-top: -300px;
  }
  .q4{
    width: 300px;
    margin-left: 20%;
    margin-top: 350px;
  }
  .shape4{
    width: 10px;
    margin-top: -250px;
    margin-left: 50px;
  }
  .image4{
    width: 30%;
    margin-left: 50%;
    margin-top: -100px;
  }
  .a4{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .q5{
    width: 300px;
    margin-left: 20%;
    margin-top: 300px;
  }
  .shape5{
    width: 10px;
    margin-top: -250px;
    margin-left: 50px;
  }
  .image5{
    width: 30%;
    margin-left: 50%;
    margin-top: -400px;
  }
  .q6{
    width: 300px;
    margin-left: 20%;
    margin-top: 250px;
  }
  .shape6{
    width: 10px;
    margin-top: -250px;
    margin-left: 50px;
  }
}

/*MOBILE*/
@media (max-width: 600px){
  .interview{
    width: 100%;
    height: 8050px;
    /*background-color: pink;*/
  }
  .subhead{
    width: 300px;
  }
  h2{
    font-size: 12;
  }
  .shape{
    width: 420px;
    margin-top: -400px;
    margin-left: -10px;
  }
  .contain{
    margin-top: 200px;
  }
  h4{
    font-size: 24;
  }
  p{
    font-size: 12;
    color: #AF1F70;

  }
  .q:hover{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    /*transition: transform .5s ease-in-out;*/

  }
  p:hover{
    none;
  }
  .q1{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
  }
  .shape1{
    width: 10px;
    margin-top: -550px;
    margin-left: 100px;
  }
  .a1{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .image1{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .q2{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 650px;
  }
  .shape2{
    width: 10px;
    margin-top: -185px;
    margin-left: 50px;
  }
  .a2{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .image2{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .q3{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1000px;
  }
  .shape3{
    width: 10px;
    margin-top: -285px;
    margin-left: 50px;
  }
  .a3{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .image3{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .q4{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .shape4{
    width: 10px;
    margin-top: -250px;
    margin-left: 50px;
  }
  .image4{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .a4{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .q5{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 600px;
  }
  .shape5{
    width: 10px;
    margin-top: -250px;
    margin-left: 50px;
  }
  .image5{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .q6{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1075px;
  }
  .shape6{
    width: 10px;
    margin-top: -250px;
    margin-left: 50px;
  }
}

/*MOBILE*/
@media (max-width: 400px){
  .header{
    background-size: 300px;
  }
  h1{
    font-size: 20;
    padding-top: 25%;
    margin-left: 50px;
  }
  .logo{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .title{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .subhead{
    width: 200px;
    margin-top: 150px;
  }
  h2{
    font-size: 12;
  }
  .shape{
    width: 375px;
    margin-top: -375px;
    margin-left: -75px;
  }
  .contain{
    margin-top: 150px;
  }
  .interview{
    width: 100%;
    height: 7100px;
  }
  h4{
    font-size: 24;
  }
  p{
    font-size: 12;
    color: #AF1F70;

  }
  .q:hover{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    /*transition: transform .5s ease-in-out;*/

  }
  p:hover{
    none;
  }
  .q1{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
  }
  .shape1{
    width: 10px;
    margin-top: -550px;
    margin-left: 100px;
  }
  .a1{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .image1{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .q2{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
  }
  .shape2{
    width: 10px;
    margin-top: -185px;
    margin-left: 50px;
  }
  .a2{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .image2{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .q3{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 750px;
  }
  .shape3{
    width: 10px;
    margin-top: -285px;
    margin-left: 50px;
  }
  .a3{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .image3{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .q4{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .shape4{
    width: 10px;
    margin-top: -250px;
    margin-left: 50px;
  }
  .image4{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .a4{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .q5{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 475px;
  }
  .shape5{
    width: 10px;
    margin-top: -250px;
    margin-left: 50px;
  }
  .image5{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 100px;
    margin-left: 0;
  }
  .q6{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
  }
  .shape6{
    width: 10px;
    margin-top: -250px;
    margin-left: 50px;
  }
}
