/*html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/


/* GENERAL */

body {
    font-size: 22px;
}
h1, p, aside {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* SPECIFIC */

h1 {
    font-size: 4em;
}
.byline {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18pt;
  letter-spacing: 1.5pt;
  color: #5869e2;
}
.date {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 11pt;
  letter-spacing: .5pt;
  color: #5869e2;
  padding-top: 10px;
}
.subhead {
    text-transform: uppercase;
}
aside {
    color: #ffa09b;
    font-size: 20pt;
    line-height: 30pt;
    letter-spacing: .9pt;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;
      /*border: solid red 1px;*/
}
.intro {
    margin-top: 308px;
    /*margin-bottom: 56px;*/
}

.draw1 img {
  display: inline-block;
  position: absolute;
  top: 0px;
  width: 670px;
  left: 0px;
}


.draw2 img {
  display: inline-block;
  position: absolute;

  width: 300px;
  right: 0px;
  top: 800px;

}

.quote1 {
  display: inline-block;
  position: absolute;
  top: 900px;
  width: 230px;
  right: 115px;
  /*border: red solid 1px;*/
}


.lede {
  display: inline-block;
  color: #5869e2;
  font-size: 10pt;
  line-height: 18pt;
  letter-spacing: .1pt;

  font-family: 'PT Serif', serif;
  font-weight: 400;

  width: 415px;

  position: relative;
  left: 400px;

}
.lede .question {
  margin-bottom: 10px;
}
.p1 img {
  display: inline-block;
  border-radius: 24px;
  border: 15pt solid #ffd3ba;
  width: 337px;
  position: relative;
  top: 30px;
  left: 250px;
}





.question {
  color: #ffa09b;
  font-size: 20pt;
  line-height: 30pt;
  letter-spacing: .9pt;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.answer {
  color: #5869e2;
  font-size: 14.5pt;
  line-height: 26pt;
  letter-spacing: .1pt;

  font-family: 'PT Serif', serif;
  font-weight: 400;
}
.name {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 14.5pt;
  letter-spacing: 1.5pt;
}




.image-set {
    text-align: center;
}
.image-2up {
    /*background: #ffd3ba;*/
    height: 419px;
    position: relative;
    width: 415px;
    display: inline-block;
    margin-left: -50px;
    margin-right: 10px;
    vertical-align: top;
}
.poketo-popup {
    margin-top: 70.5px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    border: 15pt solid #ffd3ba;
}
.flagship-store {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    border: 15pt solid #ffd3ba;
}
.pink1 img {
  width: 57px;
  display: inline-block;
  position: relative;
  top: 118px;
  left: -37px;
  z-index: 3;
}
.pink2 img {
  width: 57px;
  display: inline-block;
  position: relative;
  top: 35px;
  right: -438px;
  z-index: 3;
}

.image-2up img {
    height: 100%;
}
.captionp2 {
    color: #5869e2;
    position: absolute;
    width: 130px;
    top: 50px;
    left: -70px;
    text-align: left;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 10.5pt;
    line-height: 15pt;
    letter-spacing: 0.6pt;
}
.captionp3 {
    color: #5869e2;
    position: absolute;
    width: 130px;
    top: 40px;
    right: -120px;
    text-align: left;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 10.5pt;
    line-height: 15pt;
    letter-spacing: 0.6pt;
}

.question1 {
    margin-top: 100px;
    margin-bottom: 56px;
      /*border: solid red 1px;*/
}
.question1 .question {
  margin-bottom: -5px;
    /*border: solid red 1px;*/
}
.question2 {
    margin-bottom: 56px;
      /*border: solid red 1px;*/
}
.question2 .question {
  margin-bottom: -5px;
    /*border: solid red 1px;*/
}
.question3 {
    margin-top: 116px;
    margin-bottom: 56px;
      /*border: solid red 1px;*/
}
.question3 .question {
  margin-bottom: -5px;
    /*border: solid red 1px;*/
}
.question4 {
    margin-bottom: 56px;
}
.question4 .question {
  margin-bottom: -5px;
}
.question5 {
    margin-bottom: 56px;
}
.question5 .question {
  margin-bottom: -5px;
}
.question6 {
    margin-bottom: 205px;
}
.question6 .question {
  margin-bottom: -5px;
}

.p4 img {
  display: inline-block;
  position: absolute;
  top: 4253px;
  width: 245px;
  left: 115px;
}

.p5 img {
  display: inline-block;
  position: absolute;
  top: 6017px;
  width: 245px;
  left: 1050px;
}
.pink3 img {
  width: 57px;
  display: inline-block;
  position: absolute;
  top: 5974px;
  left: 1125px;
}
.captionp5 {
    color: #5869e2;
    position: absolute;
    top: 5990px;
    left: 1125px;
    text-align: left;
    width: 170px;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 10.5pt;
    line-height: 15pt;
    letter-spacing: 0.6pt;

}


.quote2 {
  display: inline-block;
  position: absolute;
  top: 3525px;
  width: 230px;
  left: 115px;
  /*border: red solid 1px;*/
}
.peach1 img {
  width: 57px;
  display: inline-block;
  position: relative;
  top: -390px;
  /*border: red solid 1px;*/
}
.peach2 img {
  width: 57px;
  display: inline-block;
  position: relative;
  left: 200px;
  top: -288px;
  /*border: red solid 1px;*/
}
.draw3 img {
  display: inline-block;
  position: absolute;
  top: 2652px;
  width: 161px;
  left: 0px;
}
.draw4 img {
  display: inline-block;
  position: absolute;
  top: 6600px;
  width: 264px;
  right: 0px;
}
.links img {
  display: inline-block;
  position: absolute;
  top: 6560px;
  width: 320px;
  left: 50px;
}


/* MOBILE */

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    h1, p, aside {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    aside {
        font-size: 50px;
    }
    .image-2up {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}
