body{
font-size: 22px;
font-family: 'Oswald', sans-serif;

-webkit-animation: back 10s infinite;
margin-top: 200px;
margin-left: 100px;
overflow-x: hidden;
}


@-webkit-keyframes back{
    0%   {background-color:#FFF2EB; }
    10%  {background-color:#FFF3E6; }
    25%  {background-color:	#ffffe6; }
    50%  {background-color:#e6fff3; }
    75%  {background-color:#d7f4f4; }
    100% {background-color:#f9f9ec; }
}


.subhead{
  margin-top: 100px;
  margin-left: 700px;
}

.subtext{
  margin-left: 700px;
  font-size: 19px;
  width: 500px;
  margin-bottom: none;
}

.bio{
    background-color: yellow;
    padding: 20px;
    display: none;
}

span:hover + div {
  display: block; position:relative; top:-7px;
}

.container {
  margin: 55px;
}

.circle, .circle0, .circle1, .circle2, .circle3, .circle4, .circle5 {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px;
}
.container:hover .circle, .container:hover .circle0, .container:hover .circle1, .container:hover .circle2, .container:hover .circle3, .container:hover .circle4, .container:hover .circle5 {
  transform: translateX(600px);
}

.circle0 {
  background: PaleTurquoise;
  transition: all 1s linear;
}

.circle1 {
  background: salmon;
  transition: all 1s ease;
}

.circle2 {
  background: lightskyblue;
  transition: all 1s ease-in;
}

.circle3 {
  background: khaki;
  transition: all 1s ease-out;
}

.circle4 {
  background: mediumturquoise;
  transition: all 1s ease-in-out;
}

.circle5 {
  background: thistle;
  transition: all 1s cubic-bezier(0, 1, 0.98, 0);
}

p{
width: 725px;
margin-left:auto;
margin-right:auto;
color:	#1a8cff; /#4da6ff/
line-height: 37px;
font-family: 'Oswald', sans-serif;

}

h1{
  font-size:100px;
  font-weight: 700;
  color: #ff8533;
font-family: 'Permanent Marker', cursive;
padding-top: 1.5px;
-webkit-transform: rotate(7deg);

}

.title{
  margin-left: 75px;
  transition: all 1s;
    transition-timing: ease-in-out;
}


a:hover {
    background-color: #4da6ff;
    width: 100%;
    from {    transform: rotateY(-7deg);  }
    to {    transform: rotateY(7deg);  }
}


.title:hover{
  -webkit-transform: rotate(-21deg);
}
.ans{
  background-color: #ffe6cc;
  padding: 10px;
  display: none;
}

.image-kelliintro {
  height: 500px;
  position: relative;
  width: 100%;
  display:inline-block;
  margin-left: 50px;
  margin-bottom: 5px;
  vertical-align: top;
  -webkit-transition: -webkit-transform .8s ease-in-out;
}

.image-kelli{
  position: relative;
  margin-left: 385px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.image-kelli2{
  margin-left: 460px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.image-kelli2:hover{
  margin-left: 510px;
  padding-top: 50px;
  padding-bottom: 50px;
  transform: scale(1.2);
  transform: 1.5s ease-in-out;
}

.image-kelli:hover{
  transform: scale(1.2);
  transform: 1.5s ease-in-out;
}



.button {
  margin-left: 200px;
  font-family: 'Arvo', serif;
  border: none;
  background-color: #FFC383;
  color: #1a8cff;
  font-size: 25px;
  border-radius: 5px;
  display: inline-block;
}

.buttons:hover .button {
  transform: scale(1.4);
}

.play{
  margin-left: 260px;
  transition: all 0.5s;

}

.pause{
  margin-left: 100px;
  transition: all 0.5s 0.25s;
}

.volumeup{
  margin-left: 100px;
  transition: all 0.5s 0.5s;
}

.volumedown{
  margin-left: 100px;
  transition: all 0.5s 0.75s;
}

.image-camera{
  width: 100%;
  position: relative;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 10px;
  margin-left: -50px;
  display: inline-block;
}

.byline{
  line-height: 50px;
}
.image-camera2 {
  height:50vh;
  width:49.5%;
  padding-right: 3.5px;
  display:inline-block;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-talking{
  margin-left: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.image-talking:hover{
  transform: scale(1.2);
  transform: 5s ease-in-out;
  margin-left: 390px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.icecreamtruck {
    position: relative;
    width: 45vw;
    display: inline-block;
    margin-left: 165px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.image-russ{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 270px;
}

.image-paper2{
  margin-left: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
}

iframe{
  position: relative;
  margin-left: 360px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.question{
  font-size: 25px;
  letter-spacing: 1.5px;
  color: #0080ff;
  border-bottom: dashed;
  font-family: 'Oswald', sans-serif;
}
.answer{
  font-size: 19px;
  line-height: 35px;
  font-weight: lighter;
  font-family: 'Arvo', serif;
}

video{
border-color: salmon;
border-style: dashed;
border-radius: 15px;
border-width: 3.5px;
  margin-top: 100px;
  margin-left: 175px;
  margin-right: 500px;
  margin-bottom: 25px;

}
aside{
  width:1000px;
  display: block;
  color: #ff751a;
  line-height: 45px;
font-size:28px;
font-style: italic;
text-align: left;
font-family: 'Arvo', serif;
margin-bottom: 50px;
}

.last{
  width:3800px;
  display: block;
  color: #ff751a;
  line-height: 45px;
font-size:28px;
font-style: italic;
text-align: left;
font-family: 'Arvo', serif;
margin-top: 100px;
margin-bottom: 300px;
}

.classcredit{
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  line-height: 25px;
  margin-top: -50px;
  margin-left: 700px;
padding-bottom: 50px;
}

@media (max-width: 768px){

  body{
  font-size: 18px;
  font-family: 'Oswald', sans-serif;

  -webkit-animation: back 10s infinite;
  margin-top: 200px;
  margin-left: 45px;
  overflow-x: hidden;
  }


  @-webkit-keyframes back{
      0%   {background-color:#FFF2EB; }
      10%  {background-color:#FFF3E6; }
      25%  {background-color:	#ffffe6; }
      50%  {background-color:#e6fff3; }
      75%  {background-color:#d7f4f4; }
      100% {background-color:#f9f9ec; }
  }


  .subhead{
    margin-top: 100px;
    margin-left: 2px;
  }

  .subtext{
    margin-left: 2px;
    font-size: 15px;
    width: 300px;
    margin-bottom: none;
  }


  span:hover + div {
    display: block; position:relative; top:-7px;
  }

  .container {
    margin: 5px;
  }

  .circle, .circle0, .circle1, .circle2, .circle3, .circle4, .circle5 {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  .container:hover .circle, .container:hover .circle0, .container:hover .circle1, .container:hover .circle2, .container:hover .circle3, .container:hover .circle4, .container:hover .circle5 {
    transform: translateX(300px);
  }

  .circle0 {
    background: PaleTurquoise;
    transition: all 1s linear;
  }

  .circle1 {
    background: salmon;
    transition: all 1s ease;
  }

  .circle2 {
    background: lightskyblue;
    transition: all 1s ease-in;
  }

  .circle3 {
    background: khaki;
    transition: all 1s ease-out;
  }

  .circle4 {
    background: mediumturquoise;
    transition: all 1s ease-in-out;
  }

  .circle5 {
    background: thistle;
    transition: all 1s cubic-bezier(0, 1, 0.98, 0);
  }

  p{
  width: 325px;
  margin-left:5px;
  margin-right:auto;
  color:	#1a8cff; /#4da6ff/
  line-height: 37px;
  font-family: 'Oswald', sans-serif;

  }

  h1{
    font-size:75px;
    font-weight: 700;
    color: #ff8533;
  font-family: 'Permanent Marker', cursive;
  padding-top: 1.5px;
  -webkit-transform: rotate(7deg);

  }

  .title{
    margin-left: 5px;
    transition: all 1s;
      transition-timing: ease-in-out;
  }


  a:hover {
      background-color: #4da6ff;
      width: 100%;
      from {    transform: rotateY(-7deg);  }
      to {    transform: rotateY(7deg);  }
  }


  .title:hover{
    -webkit-transform: rotate(-21deg);
  }
  .ans{
    background-color: #ffe6cc;
    padding: 10px;
    display: none;
  }
  .image-kelliintro {
    position: relative;
    width: 50%;
    margin-left: 5px;
    margin-bottom: 25px;
  }

  .image-kelli{
    position: relative;
    margin-left: 5px;
    padding-top: 25px;
    padding-bottom: 25px;

  }

  .image-kelli2{
    width:10%;
    padding-right: 5px;
    margin-left: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .image-kelli2:hover{
    width: 10%;
    margin-left: 0px;
    padding-top: 25px;
    padding-bottom: 55px;
    transform: scale(1.2);
    transform: 1.5s ease-in-out;
  }

  .image-kelli:hover{
    transform: scale(1.2);
    transform: 1.5s ease-in-out;
    margin-left: 0px;
    padding-top: 25px;
    padding-bottom: 55px;
  }


  .button {
    margin-left: 15px;
    font-family: 'Arvo', serif;
    border: none;
    background-color: #FFC383;
    color: #1a8cff;
    font-size: 10px;
    border-radius: 5px;
    display: inline-block;
  }

  .buttons:hover .button {
    transform: scale(1.4);
  }

  .play{
    margin-left: 20px;
    transition: all 0.5s;

  }

  .pause{
    margin-left: 20px;
    transition: all 0.5s 0.25s;
  }

  .volumeup{
    margin-left: 20px;
    transition: all 0.5s 0.5s;
  }

  .volumedown{
    margin-left: 20px;
    transition: all 0.5s 0.75s;
  }

  .image-camera{
    width: 100vw;
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: 10px;
    display: inline-block;
  }

  .byline{
    line-height: 50px;
  }
  .image-camera2 {
    width:75vw;
    padding-right: 3.5px;
    display:inline-block;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .image-talking{
    width: 20px;
    margin-left: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .image-talking:hover{
    transform: scale(1.2);
    transform: 5s ease-in-out;
    margin-left: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .icecreamtruck {
      position: relative;
      width: 75vw;
      display: inline-block;
      margin-left: 5px;
      padding-top: 25px;
      padding-bottom: 25px;

  }

  .image-russ{
    width:100vw;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
  }

  .image-paper2{
    max-width: 50%;
    margin-left: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  iframe{
    width: 80vw;
    position: relative;
    margin-left: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .question{
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #0080ff;
    border-bottom: dashed;
    font-family: 'Oswald', sans-serif;
  }
  .answer{
    font-size: 15px;
    line-height: 25px;
    font-weight: lighter;
    font-family: 'Arvo', serif;
  }

  video{
    border: none;
    width:75vw;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 500px;
    margin-bottom: -150px;

  }

  aside{
    width:25px;
    display: block;
    color: #ff751a;
    line-height: 25px;
  font-size:13px;
  font-style: italic;
  text-align: left;
  font-family: 'Arvo', serif;
  margin-bottom: 25px;

  }

  .last{
    width:3800px;
    display: block;
    color: #ff751a;
    line-height: 45px;
  font-size:28px;
  font-style: italic;
  text-align: left;
  font-family: 'Arvo', serif;
  margin-top: 50px;
  margin-bottom: 100px;
  }

  .classcredit{
    font-family: 'Oswald', sans-serif;
    font-size: 11px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 5px;
  padding-bottom: 50px;
  }
