h1{
	font-family: cursive;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color:#B0171F;
	opacity:0.5:;

}

.hello1{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:9000px;
margin-left:950px;
font-size:30px;

}



.hello3{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:900px;
margin-left:1050px;
font-size:30px;

}
.hello4{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:1000px;
margin-left:1150px;
font-size:30px;

}

.hello6{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:1000px;
margin-left:1250px;
font-size:30px;

}

.hello7{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:1000px;
margin-left:1350px;
font-size:30px;

}

.hello8{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:1350px;
margin-left:1252px;
font-size:30px;

}

.hello9{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:1350px;
margin-left:1155px;
font-size:30px;

}

.hello10{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:1350px;
margin-left:1055px;
font-size:30px;

}

.hello11{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:1350px;
margin-left:955px;
font-size:30px;

}

.hello12{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
border-width: 1px;
text-align:right;
margin-right:1350px;
margin-left:855px;
font-size:30px;

}

.hello13{
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
text-align:left;
margin-right:805px;

font-size:20px;

}

.hello14{

Font-size:30pt;
font-family: cursive;
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
text-align:left;
margin-right:805px;

font-size:20px;

}

.hello15{
font-size:30pt;
font-family:cursive;
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
text-align:left;
margin-right:805px;

font-size:20px;


}

.hello17{
font-size:30pt;
font-family:cursive;
color:red;
background-color:blue;
opacity:0.5;
display:block;
border:solid;
text-align:left;
margin-right:805px;

font-size:20px;


}