body {
  /*width: 600px;
  font-size: 18px;
  font-family: Khula;
  margin-left: auto;
  margin-right: auto;*/
  /*background-color: pink; /*#ff0080*/*/
  /*background: linear-gradient(pink 13.5%, white 13.8%);*/
}

p {
  width: 600px;
  font-size: 18px;
  font-family: Khula;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: Rubik, Londrina Solid;
  font-size: 100px;
  letter-spacing: 1px;
  margin-top: 100px;
  margin-bottom: 0px;
  background-color: white;
  width: 500px;
  padding:50px;
  padding-right: 90px;
  padding-bottom: 100px;
  margin-left: 160px;
  border-radius: 8px;
}

.thinner {
  /*font-weight: lighter;*/
  font-size: .8em;
}

.subhead {
  text-align: left;
  font-family: Rubik, Khula, Share;
  margin: 0;
}

.byline {
  text-align: left;
  font-family: Rubik, Khula, Share;
  padding-bottom: 100px;
  position: absolute;
  top: 510px;
  left: 225px;
}

.lede {
  font-size: 1.6em;
  margin-top:240px;
  margin-bottom: 70px;
}

aside {
  font-size: 2.2em;
  font-family: Permanent Marker;
  padding: 30px;
  width:540px;
  padding-left: 220px;
  background-color: white;
}

.question {
  padding-top: 30px;
  font-weight: bolder;
  font-family: Work Sans, Noto Sans;
  position: relative;
  left: -30px;
}

.answer {
}

.img-wrap {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img.round {
  margin: 40px;
  width: 90%;
  border-radius: 50%;
  transition: 3s ease;
  /*border: white 200px solid;
  box-sizing: border-box;*/
}

img.round:hover {
  border-radius: 0;
  width: 90%;
  transition: 0.5s ease;
  /*border: 0 white solid;*/
}

.top-img {
  width: 100%;
  border-radius: 0;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: -2;
}

.absolute1 {
  position: absolute;
  top: 2000px;
  width: 200px;
  left: -60px;
  z-index: -2;
  opacity: 30%;
  transform: rotate(-30deg);
}

.absolute2 {
  position: absolute;
  top: 7000px;
  width: 800px;
  left: 0px;
  z-index: -2;
  opacity: 30%;
  transform: rotate(0deg);
}

.absolute3 {
  position: absolute;
  top: 2500px;
  width: 600px;
  left: -60px;
  z-index: -2;
  opacity: 30%;
  transform: rotate(-30deg);
}

.absolute4:hover {
  left: 1600px;
  transition: 1s ease;
}

.absolute4 {
  position: absolute;
  top: 4000px;
  width: 600px;
  left: 600px;
  z-index: 1;
  opacity: 30%;
  transform: rotate(-30deg);
  transition: 1s ease;
}

.caption {
  text-align: right;
  margin-left: 700px;
  position: relative;
  top: -770px;
  font-style: italic;
  font-family: Share;
  font-weight: lighter;
  color: silver;
  z-index: -1;
}

section {
  margin-bottom: 200px;
}

/*MOBILE*/

@media (max-width:768px) {
    body, p {
        width: 90%;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        /*padding: 10px;*/
    }

    h1 {
      margin-left: -20px;
      font-size: 4em;
      width: 90%;
      padding-top: 0;
      margin-top: 50px;
      padding-left: 30px;
      padding-right: 50px;
      padding-bottom: 40px;
    }

    .byline {
      text-align: left;
      margin: 20px;
      padding: 0;
      position: relative;
      left: -6px;
      top: -40px;
    }

    .top-img {
      width: 100%;
      margin: -20px;
      padding: 0;
      top: 380px;

    }

    .lede {
      padding-top: 100px;
      margin-bottom: 30px;
    }

    aside {
        font-size: 2.5em;
        width: 90%;
        margin-left: 20px;
        padding-left: 0;
    }

    img.round {
        display: block;
        width: 50%;
        margin: 0;
        position: relative;
        left: 0;
        padding: 0;
    }

    img.round:hover {
        width: 50%;
        left: 0;
    }

    section {
      margin-bottom: 80px;
    }
