section {
  font-family: Montserrat, sans-serif;
  font-size:60px;
  margin:20px;
  text-align:center;
}

h1 {
  display:inline-block;
  opacity:0%;
  margin-top: 100px;
  margin-bottom:100px;
  -webkit-transition: opacity .3s;
  -webkit-transition-timing-function:ease-in;
}

h1:hover {
  opacity:100%;
  margin-top: 100px;
  margin-bottom:100px;
}

h2 {
  color:purple;
  display:inline-block;
}

.firstimages {
  height:500px;
  width:400px;
  display:inline-block;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
}

.firstimages2 {
  height:500px;
  width:250px;
  display:inline-block;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
}

.firstimages3 {
  width:100%;
  display:inline-block;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
}

.and {
  height:500px;
  width:250px;
  display:inline-block;
  text-align:center;
  margin-left: 30px;
  margin-right:auto;
  font-family: Montserrat; sans-serif;
  font-weight: 100;
  font-size:112px;
  vertical-align: top;
  margin-top:50px;
  transition: all 2s ease-in-out;
}

.and:hover {
  margin-top:100px;
}



.names {
  display:inline-block;
  text-align:left;
  margin-left: auto;
  margin-right:auto;
  font-family: Montserrat; sans-serif;
  font-weight: 700;
  font-size:85px;
  vertical-align: bottom;
  margin-top:50px;
  background:#E5DCF7;
  padding:50px;

}

.names:hover {
  background-color:#8D5FE8;
  cursor:pointer;
  -webkit-transition: background-color 2s ease-out;
   -moz-transition: background-color 2s ease-out;
   -o-transition: background-color 2s ease-out;
   transition: background-color 2s ease-out;
}

.subhead {
  text-align:left;
  margin-left: auto;
  margin-right:auto;
  font-family: Montserrat; sans-serif;
  font-weight: 700;
  font-size:30px;
  background:#E5DCF7;
  margin-top:30px;

}

.byline {
  font-size:15px;
  font-weight: 400px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.one {
  color:#FF005D;
}
.imageone {
  background-color:gray;
  height:100%;
  margin:15px;
  margin-right:0px;
  display:inline-block;

}

.imagetwo {
  background-color:gray;
  height:100%;
  margin:15px;
  margin-left:0px;
  display:inline-block;

}

.imagethree {
  background-color:gray;
  width:100%;
  margin-left:40px;
  display:inline-block;
  margin-right:40px;

}
p {
  font-family: Montserrat; sans-serif;
}

.head {
  height:400px;
  vertical-align: baseline;
}

.lead {
  font-weight: 400;
  margin-right:50px;
  width:66%;
  font-size:23px;
  line-height: 40px;
  margin-top:50px;
  padding:6px;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  color:#692DEB;
}

.line {
  text-align:center;
  margin-left:auto;
  margin-right: auto;
  font-size: 50px;
  color:#E5DCF7;
}

.interview {
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  font-size:17px;
  width:58%;
  line-height:35px;
  font-family: 'Cantata One', serif;
}

.questions {
  font-family: 'Crete Round', serif;
  font-weight:700;
  font-size: 25px;
  color:#FF005D;
}

.animateparent {
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  margin-top:80px;
  margin-bottom:50px;
  padding:50px;
}

.animation1 {
  display:inline-block;
  color:white;
  padding:10px;
  width:300px;
  height:300px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
  transition: all .2s ease-in-out;
}

.animation1:hover {
  -webkit-transform: scale(1.2);
}

.animation2 {
  display:inline-block;
  color:white;
  padding:10px;
  width:300px;
  height:300px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
  transition: all .2s ease-in-out;
}

.animation2:hover {
  -webkit-transform: scale(1.2);
}

.animation3 {
  display:inline-block;
  color:white;
  padding:10px;
  width:300px;
  height:300px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
  transition: all .2s ease-in-out;
}

.animation3:hover {
  -webkit-transform: scale(1.2);
}
.caption {
  display: block;
  text-align: center;
  font-family: 'Crete Round', serif;
  font-size:12px;
}

.wide {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.widespan {
  width:90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mailchimp {
  display:inline-block;
  color:white;
  padding:10px;
  height:500px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.mailchimp2 {
  display:inline-block;
  color:white;
  padding:10px;
  height:500px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.highlight:hover {
  font-family: 'Montserrat', sans-serif;
  color:#E5DCF7;
  -webkit-transform: scale(1.2);
  cursor:pointer;
  -webkit-transition: background-color scale 2s ease-out;
   -moz-transition: background-color scale 2s ease-out;
   -o-transition: background-color scale 2s ease-out;
   transition: background-color scale 2s ease-out;


}

.appear {
    display: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-transform: scale(1.2);
    cursor:pointer;
    -webkit-transition: color background-color scale 2s ease-out;
     -moz-transition: color background-color scale 2s ease-out;
     -o-transition: color background-color scale 2s ease-out;
     transition: color background-color scale 2s ease-out;
     background-color: #E5DCF7;
     padding:15px;
     color:#8D5FE8;
   }

.firstappear {
  color:#FF005D;
  font-size:50px;
  background-color: #E5DCF7;
}

.firstappear:hover + .appear {
    display: block;
}
