
a:link {
  color: #FF005D;
}

a:visited {
  color: #FF005D;
}

a:hover {
  color: #FF005D;
  text-decoration: none;
}

section {
  font-family: Montserrat, sans-serif;
  font-size:60px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  padding:0px;
  text-align:center;
}

body {
  margin:0;
}

h1 {
  display:inline-block;
  opacity:0%;
  margin-top: 100px;
  margin-bottom:100px;
  -webkit-transition: opacity .3s;
  -webkit-transition-timing-function:ease-in;
}

h1:hover {
  opacity:100%;
  margin-top: 100px;
  margin-bottom:100px;
}

h2 {
  color:purple;
  display:inline-block;
}

.and {
  height:500px;
  width:250px;
  color:#FF005D;
  position:absolute;
  z-index:10;
  text-align:center;
  margin-left: 55%;
  margin-right:auto;
  font-family: Montserrat; sans-serif;
  font-weight: 100;
  font-size:112px;
  animation-name:mymove;
  animation-duration: 5s;
  animation-delay: 4s;
  -webkit-animation-fill-mode:forwards;}

@-webkit-keyframes mymove {
  from {top:0px;}
  to { top:1480px;}
  }

.afterand {
  display:none;
}

.names {
  display:inline-block;
  text-align:left;
  margin-left: auto;
  margin-right:auto;
  font-family: Montserrat; sans-serif;
  font-weight: 700;
  font-size:85px;
  vertical-align: bottom;
  margin-top:50px;
  background:#BFEAF2;
  padding:50px;

}

.names:hover {
  background-color:#84CDDB;
  cursor:pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.subhead {
  text-align:left;
  margin-left: auto;
  margin-right:auto;
  font-family: Montserrat; sans-serif;
  font-weight: 700;
  font-size:30px;
  background:#BFEAF2;
  margin-top:30px;

}

.byline {
  font-size:15px;
  font-weight: 400px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.imageone {
  height:600px;
  width:inherit;
  margin-left:40px;
  margin-right:0px;
  margin-top:30px;
  margin-bottom:10px;
  display:inline-block;
  opacity:0;
  animation-name: fadein;
  animation-duration: 2.5s;
  animation-delay: .5s;
  -webkit-animation-fill-mode:forwards;
}

.imagetwo {
  height:600px;
  width:inherit;
  margin-left:10px;
  margin-right:0px;
  margin-top:30px;
  margin-bottom:10px;
  display:inline-block;
  opacity:0;
  animation-name: fadein;
  animation-duration: 2.5s;
  animation-delay: 2s;
  -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes fadein {
  from {opacity:0;}
  to { opacity:1;}
}


.imagethree {
  width:90%;
  margin-left:40px;
  display:inline-block;
  margin-right:40px;
  box-sizing:border-box;
  overflow: hidden;
}

p {
  font-family: Montserrat; sans-serif;
}


.lead {
  vertical-align: baseline;
  font-weight: 400;
  margin-right:50px;
  width:66%;
  font-size:23px;
  line-height: 40px;
  margin-top:50px;
  padding:6px;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  color:#111111;
  border-bottom: dotted 3px #BFEAF2;
}

.line {
  text-align:center;
  margin-left:auto;
  margin-right: auto;
  font-size: 50px;
  color:#E5DCF7;
}

.interview {
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  font-size:17px;
  width:58%;
  line-height:35px;
  margin-bottom:0;

}

.interview2 {
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  font-size:17px;
  line-height:35px;
  margin-top:-130px;
  display:inline-block;

}

.questions {
  font-family: Montserrat; sans-serif;
  font-weight:700;
  font-size: 25px;
  color:#84CDDB;
}

.animateparent {
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  margin-top:80px;
  margin-bottom:50px;
  padding:50px;
}

.animation1 {
  display:inline-block;
  color:white;
  padding:10px;
  width:300px;
  height:300px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.animation1:hover {
  -webkit-transform: scale(1.2);
}

.animation2 {
  display:inline-block;
  color:white;
  padding:10px;
  width:300px;
  height:300px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.animation2:hover {
  -webkit-transform: scale(1.2);
}

.animation3 {
  display:inline-block;
  color:white;
  padding:10px;
  width:300px;
  height:300px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.animation3:hover {
  -webkit-transform: scale(1.2);
}

.caption {
  display: block;
  text-align: center;
  font-family: 'Crete Round', serif;
  font-size:12px;
  margin:10px;
}

.wide {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.widespan {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mailchimp {
  display:inline-block;
  color:white;
  padding:10px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
  width:62%;
}

.mailchimp:hover {
  -webkit-transform: scale(1.2);
}

.mailchimp2 {
  display:inline-block;
  color:white;
  padding:10px;
  width:62%;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.mailchimp2:hover {
  -webkit-transform: scale(1.2);
}

.mailchimp3 {
  display:inline-block;
  color:white;
  padding:10px;
  width:62%;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.mailchimp3:hover {
  -webkit-transform: scale(1.2);
}

.phone {
  width:320px;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
}

.quotebox {
  vertical-align:top;
}
.appear {
  display: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-transform: scale(1.2);
  float:right;
  z-index:10;
  width: 60%;
  padding:15px;
  color: black;
  position:absolute;
  font-size:35px;
  line-height: 60px;
  background-color:#BFEAF2;
  vertical-align:text-top;
   }

.firstquote {
  font-family: 'Montserrat', sans-serif;
  font-size:19px;
  line-height: 25px;
}

.joshappear {
  color:black;
  z-index:-10;
  width:10%;
  height:10%;
  padding:30px;
  margin-left:2.5%;
  font-size:60px;
  text-align: center;
  font-weight: 700;
  display:inline-block;
  vertical-align: top;
}

.joshappear:hover {
  transform: rotate(7deg);
}

.joshappear:hover + .appear {
  display: inline-block;
  z-index:10;
  position:absolute;
  vertical-align: top;
  transform:rotate(-2deg);
}

video {
  width:45%;
  float:right;
  display:inline-block;
  z-index:-10;
}

.button1 {
  position:relative;
  float:right;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  font-size: 20px;
  font-weight: 700;
  display:block;
  color:#84CDDB;
  background-color: white;
  border:none;
  padding:10px;
  margin-top:-700px;
  width:80px;
  z-index:100;

}

.button2 {
  position:relative;
  float:right;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  font-size: 20px;
  font-weight: 700;
  display:block;
  color:#84CDDB;
  background-color: white;
  border:none;
  padding:10px;
  margin-top:-650px;
  display:inline-block;
  width:80px;
}

.squarequote {
 font-family: 'Montserrat', sans-serif;
  font-size:50px;
  line-height: 67px;
  background-color:white;
  vertical-align:text-top;
  padding:15px;
  color:#FF005D;
  height:650px;
  display:inline-block;
  width:45%;
  height:650px;
  font-weight: 700;
  text-align:left;
  margin-top:40px;
  z-index:-10;
}

.rectanglequote {
 font-family: 'Montserrat', sans-serif;
  font-size:50px;
  line-height: 67px;
  background-color:white;
  vertical-align:text-top;
  padding:25px;
  color:#FF005D;
  width:95%;
  font-weight: 700;
  text-align:left;
}

.cats {
  height:100%;
  margin-top:100px;
  width:100%;
  box-sizing: border-box;
  overflow:hidden;
}

.mobileparent {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.mobile {
  display:none;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.endinfo {
  display: block;
  text-align: left;
  font-family: 'Crete Round', serif;
  font-size:12px;
  line-height:18px;
  width:40%;
  margin-top:50px;
  margin-bottom:20px;
  background: #FFFFFF;
  padding:10px;
  z-index:10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.triangleparent {
  width:100%;
  height:100px;
  margin: auto;
  transition: all 2s ease-in-out;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #FF005D;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:80px;
  transition: all 1s ease-in-out;

}

.triangleparent:hover {
  -webkit-transform: rotate(360deg);
}

.face2:hover {
  -webkit-transform:scale(2);
  background-color:#FFC9E5;
}

.face3 {
  margin-bottom:60px;
  margin-top:0;
}
.face3:hover {
  -webkit-transform: translate(0px,-250px);
  background-color: #C9FAFF;
}
/*half screen size*/

@media (max-width:1000px) {

  article, head {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow:hidden;
  }

  .imageone, .imagetwo {
    height:500px;
    width:inherit;
  }

  .squarequote {
    font-size:30px;
    line-height: 47px;
    background-color:white;
    vertical-align:text-top;
    padding:15px;
    color:#FF005D;
    height:650px;
    display:inline-block;
    width:35%;
    height:500px;
    font-weight: 700;
    text-align:left;
    margin-top:30px;}

  .button1 {
    margin-top:-500px;
  }

  .button2 {
    margin-top:-450px;
  }

  .afterand {
    display:inline;
    color:#FF005D;
  }

  .and {
    display:none;
  }

}


/*mobile*/

@media (max-width: 768px) {

  article, head, body {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .article,  .lead, .interview, .interview2 {
    width:80%;
    font-size:13px;
    line-height:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  .interview2 {
    width:100%;
  }

  .subhead {
    font-size:20px;
    line-height: 10px;
  }

  .byline {
    font-size:15px;
    line-height: 12px;
  }

  .image3 {
    width:100%;
  }

  .questions {
    font-size:20px;
    line-height:28px;
    width:80%; }

 .animateparents, video {
    width:80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
  }

  video {
    width:100%;
  }

  .widespan, .wide {
    width: 100%;
    box-sizing: border-box;
}

  .quotebox {
    display:none;
    box-sizing: border-box;
  }

  .caption, .endinfo {
    font-size:12px;
    line-height: 25px;
  }

  .squarequote {
    width:100%;
    height:inherit;
    margin-left: auto;
    margin-right: auto;
    font-size:25px;
    box-sizing: border-box;
  }

  .squarequote, .rectanglequote {
    background-color:#BFEAF2;
    color: white;
    font-size:32px;
    line-height: 42px;
    margin-top:20px;
    width:100%;
    box-sizing: border-box;
    overflow:hidden;
  }

  img {
    margin: 10px;
  }

  .mobile, .mobileparent{
    margin-top:50px;
    display:block;
    width:50%;
    margin-bottom: 0px;
  }

  .names {
    width:100%;
    font-family: Montserrat; sans-serif;
    font-weight: 700;
    font-size:45px;
    margin-top:50px;
    padding:50px;
    box-sizing: border-box;
    overflow: hidden;

  }

  .mailchimp, .mailchimp2 {
    width:100%;
    margin-right:auto;
    box-sizing: border-box;
  }

  .animation1, .animation2, .animation3 {
    width:100%;
    box-sizing: border-box;
    overflow:hidden;
  }

  .endinfo {
    margin-left: auto;
    margin-right:auto;
    width:70%
}

  .imageone, .imagetwo {
    height:inherit;
    width:30%;
    margin-left:10px;
    margin-right:0px;
    margin-top:30px;
    margin-bottom:0px;
    display:inline-block;
  }

  .firstimages3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

    .imagethree {
      margin-left:10px;
    }

    .button1, .button2 {
      display:none;
    }

}
