h1{
	background-color:black;
	color:white;
	font-size:100px;
	text-align:left;
	

}

.hello1{
	
	color:white;
	background-color:black;
	font-size:30px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}	
.hello2{
	color:white;
	background-color:black;
	font-size:30px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}
.hello3{
	color:white;
	background-color:black;
	font-size:30px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}	
.hello4{
	color:white;
	background-color:black;
	font-size:30px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}	
.hello5{
	color:white;
	background-color:black;
	font-size:30px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}		
.hello6{
	color:white;
	background-color:black;
	font-size:30px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}		
.hello7{
	color:white;
	background-color:black;
	font-size:30px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}		
.hello8{
	color:white;
	background-color:black;
	font-size:30px;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}		



div{

	margin-left:500px;
	margin-right:500px;


}

p{

	font-size:23px;
	font-family: 'Questrial', sans-serif;

}