h1{
  color:	 #595959;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 150px;
  margin-top: 50px;
  line-height: 21px;
  font-family: 'Crimson Text', serif;

}

p {
  color:	#595959;
  font-size: 17px;
  line-height: 21px;
  margin-bottom:0;
  margin-top: 0;
  margin-left: 150px;
  width: 450px;
  font-family: 'Crimson Text', serif;

}
.by{
  color: #8c8c8c;
  margin-bottom:30px;
}

.p2 {
  color: #ff8080;
  margin-bottom: 20px;
}

.p4 {
    color: #ff8080;
  margin-bottom: 20px;
}

.p6 {
    color: #ff8080;
  margin-bottom: 20px;
}

.p8 {
    color: #ff8080;
  margin-bottom: 20px;
}

.p10 {
    color: #ff8080;
  margin-bottom: 20px;
}

.p12 {
    color: #ff8080;
  margin-bottom: 20px;
}

.p14 {
  color: #ff8080;
  margin-bottom: 20px;
}

.p16 {
    color: #ff8080;
  margin-bottom: 20px;
}

.p18 {
    color: #ff8080;
  margin-bottom: 20px;
}

.p20{
    color: #ff8080;
}
