h1{
	color:red;
	font-size:50pt;
	text-align:center;
	background-color:orange;
	text

}
p{

text-align:center;
color:red;
background-color:orange;
font-size:25pt;

}

div{
	margin-left:200px;
	margin-right:200px;


}