    /*COVER*/
    
    h1 {
        margin-left: 40%;
        margin-right: auto;
        font-size: 12vw;
        /* color: #ff6600;*/
        color: #2EE57D;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        text-decoration: underline;
        line-height: 1.2;
        float: right;
        position: absolute;
        margin-top: -20vw;
    }
    
    #h1 {
        height: 160vh;
    }
    
    h1:hover {
        color: white;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    .author {
        width: 60vw;
        position: relative;
    }
    
    .intro {
        height: 25vh;
        float: left;
        padding: 1em;
        margin-left: 2em;
        background: white;
        width: 60vw;
        height: 20vh;
        padding 1em;
        margin: .5em;
        margin-top: 65vw;
        margin-left: -62%;
        position: absolute;
        padding-bottom: 5%;
    }
    
    .intro2 {
        font-weight: bold;
        /*font-size: 1.5vw;*/
        font-size: 65%;
        line-height: 1.7;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        color: black;
        width: 50vw;
        margin-left: 10%;
        margin-right: 50%;
        position: absolute;
    }
    
    h1pic {
        width: 1vh;
    }
    /*navigation*/
    
    h2 {
        color: #2EE57D;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: font-style: italic;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 60%;
        z-index: 5000;
        font-style: italic;
    }
    
    h2:hover {
        color: white;
        font-style: italic;
        text-decoration: underline;
        background-color: #2EE57D;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        display: inline;
    }
    
    h3 {
        color: #2EE57D;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: font-style: italic;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 50%;
        line-height: 1.2;
        z-index: 5000;
        font-style: italic;
    }
    
    .sideimages {
        width: 20vh;
        margin-bottom: 2%;
        z-index: 5000;
        margin-top: 10%;
        float: left;
        margin-right: 10%;
    }
    
    a.lightbox img {
        height: 150px;
        border: 3px solid white;
        margin: 94px 20px 20px 20px;
    }
    /* Styles the lightbox, removes it from sight and adds the fade-in transition */
    
    .lightbox-target {
        position: fixed;
        top: -100%;
        width: 100%;
        background: rgba(0, 0, 0, .7);
        width: 100%;
        opacity: 0;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
        overflow: hidden;
        mix-blend-mode: none;
    }
    /* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
    
    .lightbox-target img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 0%;
        max-width: 0%;
        border: 3px solid white;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
        box-sizing: border-box;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    /* Styles the close link, adds the slide down transition */
    
    a.lightbox-close {
        display: block;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        background: white;
        color: black;
        text-decoration: none;
        position: absolute;
        top: -80px;
        right: 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    /* Provides part of the "X" to eliminate an image from the close link */
    
    a.lightbox-close:before {
        content: "";
        display: block;
        height: 30px;
        width: 1px;
        background: black;
        position: absolute;
        left: 26px;
        top: 10px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* Provides part of the "X" to eliminate an image from the close link */
    
    a.lightbox-close:after {
        content: "";
        display: block;
        height: 30px;
        width: 1px;
        background: black;
        position: absolute;
        left: 26px;
        top: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    /* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
    
    .lightbox-target:target {
        opacity: 1;
        top: 0;
        bottom: 0;
    }
    
    .lightbox-target:target img {
        max-height: 100%;
        max-width: 100%;
    }
    
    .lightbox-target:target a.lightbox-close {
        top: 0px;
    }
    
    body {
        margin: 0em;
        line-height: .5em;
        background-repeat: no-repeat;
        background-attachment: fixed;
        image-resolution: from-image;
        background-size: 120em 8e0m;
        background-position: 20% 40%;
        background-image: linear-gradient(transparent, #FFF) left repeat;
        background: url('images/new-york-city.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    p {
        width: 50%;
        margin-left: 40%;
        margin-right: auto;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        line-height: 1.7;
        font-size: 70%;
        color: #250e1f;
        z-index: 5000;
    }
    /*SECTIONS:interview*/
    
    .interview {
        height: 100vh;
        padding-top: 5%;
        background: white;
        width: 100%;
        position: relative;
        margin-bottom: 20%;
        padding-bottom: 5%
    }
    
    .interview2 {
        height: 200vh;
        padding-top: 5%;
        background: white;
        width: 100%;
        position: relative;
        margin-bottom: 20%;
        padding-bottom: 5%
    }
    
    #contain {
        witdh: 1vh;
        z-index: 5000;
        mix-blend-mode: multiply;
    }
    
    .question {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 200%;
        font-style: italic;
        color: white;
        background-color: #2EE57D;
        display: inline;
        padding-left: 10%;
        text-transform: uppercase;
        line-height: 1.7;
    }
    
    .question:hover {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.9vw;
        font-style: italic;
        color: white;
        background-color: #2EE57D;
        display: inline;
        padding-left: 10%;
        text-transform: uppercase;
        line-height: 1.7;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    /*SECTION:QUOTE*/
    
    .quotecont {
        margin-left: -62%;
        marging-top: 3%;
    }
    
    .quote {
        width: 20vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 6vw;
        font-style: italic;
        color: white;
        background-color: #2EE57D;
        display: inline;
        padding-left: 10%;
        text-transform: uppercase;
        line-height: 1.7;
        margin-bottom: 10%;
    }
    /*SPECIFIC*/
    
    .byline {
        font-weight: bold;
        font-size: 1em;
        font-family: 'Oswald', sans-serif;
        font-weight: 100;
        -webkit-column-span: 2;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .subhead {}
    
    aside {
        width: 30vw;
        position: absolute;
        margin-top: 0;
        margin-left: 2%;
        margin-right: auto;
        mix-blend-mode: normal;
    }
    
    .spanaside {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 5vw;
        font-style: italic;
        text-align: left;
        display: inline;
        color: #250e1f;
        background-color: yellow;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 1.5;
        text-transform: uppercase;
        position: absolute;
        z-index: 5000;
    }
    
    .credit {
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
    
    titlesect1 {
        background: ;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 200px;
    }
    
    .caption {
        display: block;
    }
    
    extrainfo {
        background: ;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    /*COVER*/
    /*IMAGES*/
    
    #overlay {
        background: rgba(46, 6, 0, .75);
        opacity: 0;
        -webkit-transition: opacity .25s ease;
    }
    
    #sideimages:hover #overlay {
        opacity: 1;
    }
    
    #grad1 {
        width: 100%;
        background: linear-gradient(to right, rgba(160, 233, 190, 0.01), rgba(160, 233, 190, 1));
        height: 2400px;
    }
    
    */ #image {
        display: inline-block;
        width: 200%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        mix-blend-mode: screen;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('images/andre-wagner-ARS-tgd-02.jpg');
    }
    
    #image-inner {
        display: block;
        height: 10;
        padding-top: 100%;
    }
    
    .empty {
        height: 50vh;
    }
    /*MOBILE*/
    
    @media (max-width:768px) {
        p,
        aside {
            width: 70%;
            margin-left: 20%;
            margin-right: auto;
        }
        .intro {
            position: absolute;
        }
        aside {
            font-size: 6em;
        }
        .image {
            display: block;
            width: 100%;
            margin-top: 1em;
        }
        .quote {
            margin-bottom: 50%;
            font-size: 250%;
        }
        .quotecont {
            margin: 5%
        }
        #h1 {
            height: 20%;
        }
        h1 {
            font-size: 12vw;
        }
        h2 {
            visibility: hidden;
        }
        .sideimages {
            visibility: hidden;
        }
        h3 {
            visibility: hidden;
        }
        a.lightbox img {
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 100%
        }
        contain {
            z-index: -5000;
        }
    }