/* GENERAL */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    line-height: 1.4;
}
h1, h2, h3 {
    margin: 60px 40px 20px;
    line-height: 1;
}
h1 {
    font-family: 'Inconsolata';
    font-size: 3.5em;
    color: #444444;
    font-weight: 400;
}
h2 {
    font-family: 'Inconsolata';
    font-size: 2.25em;
    color: #681CFF;
    font-weight: 400;
}
h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
    color: #444444;
}
p, ul {
    font-size: 1.25em;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 700px;
}
ul {
    list-style-type: circle;
}
strong {
    font-weight: normal;
    color: #681CFF;
}
a {
    color: #53E0BB
}
a:visited {
    color: #53E0BB
}
a:hover {
    color: #53E0BB
    text-decoration: underline;
}
a:active {
    color: #53E0BB
}

/* scrollbar */
#scroll-style::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	background: none;
}
#scroll-style::-webkit-scrollbar {
	height: 6px;
    width: 6px;
	background: none;
}
#scroll-style::-webkit-scrollbar-thumb {
	background-color: #681CFF;
}

/* elements */
.caption {
    position: absolute;
    font-size: .9em;
    bottom: 0;
    left: 0;  
    padding: 5px;
    background: #ffffff;
}

/* SPECIFIC */

.subhead {
    white-space: nowrap;
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid #e1e1e1;
}

/* introduction */
.intro {
    background: #efefef;
    margin-top: 60px;
    padding-top: 16px;
}
.examples {
    display:flex;
    flex-flow: column wrap;
    justify-content: space-around; 
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    margin-top: 20px;
    height: 94vh;
    overflow-x: scroll;
    transition: .3s ease;
}
.examples:hover {
    background: #e1e1e1;
}
.example-item {
    margin: 5px 20px;
    position: relative;
    overflow: hidden;
    max-width: 500px;
    opacity: .25;
    transition: .3s ease;
}
p.example-item {
    font-size: .9em;
    line-height: 1.5;
    margin-top: 0;
    padding: 20px 60px 40px;
    background: #ffffff;
    overflow-y: scroll;
}
.example-item img {
    height: 240px;
    transition: .3s ease;
}
.example-item img:hover {
    -ms-transform: scale(1.01); /* IE 9 */
   	-webkit-transform: scale(1.01); /* Safari */
    transform: scale(1.01);
}
.example-item:hover {
    opacity: 1;
    -ms-transform: translate(0, -5px); /* IE 9 */
   	-webkit-transform: translate(0, -5px); /* Safari */
    transform: translate(0, -5px);
}

/* assignment */

.assignment {
}
.steps {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-top: 40px;
    height: 80vh;
    overflow-x: scroll;
    transition: 3s ease;
}
.steps:hover {
    background: #efefef;
}
.step-item {
    width: 550px;
    margin-right: 6px;
    padding: 0 40px 20px;
    background: #ffffff;
    opacity: .25;
    transition: .3s ease;
    overflow-y: scroll;
}
.step-item:hover {
    opacity: 1;
    -ms-transform: translate(0, -5px); /* IE 9 */
   	-webkit-transform: translate(0, -5px); /* Safari */
    transform: translate(0, -5px);
}
.step-item h3, .step-item p, .step-item ul {
    margin: 20px 0;
    font-size: .9em;
    line-height: 1.5;
}

/* article content */
.choose-article {
    background: #ffffff;
    padding-top: 10px;
}
.articles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: scroll;
    padding: 40px;
}
.article-item {
    background: #ffffff;
    margin-right: 6px;
    opacity: .25;
    transition: .3s ease;
    position: relative;
}
.article-item:hover {
    opacity: 1;
    -ms-transform: translate(0, -2px); /* IE 9 */
   	-webkit-transform: translate(0, -2px); /* Safari */
    transform: translate(0, -2px);
}
.article-item img {
    height: 60vh;
}

/* footer */
footer {
	background: #efefef;
	background: #ffffff;
	border-top: 2px solid #efefef;
	padding: 0 40px 12px 0;
}
footer ul {
    max-width: 100%;
}
footer li {
	display: inline-block;
	font-family: 'Inconsolata';
	font-weight: 800;
	font-size: .7em;
	padding-top: 10px;
}
footer li:last-of-type {
	float: right;
}

/* MOBILE */

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .subhead {
        white-space: nowrap;
        display: block;
        padding-left: 0;
        margin-left: 0;
        border-left: 0;
    }
    p.example-item {
        padding: 20px 20px 40px;
        width: 350px;
    }
    .steps { 
        height: 80vh;
    }
    .step-item {
        width: 350px;
        padding: 0 14px;
    }
    .example-item, .step-item, .article-item {
        opacity: 1;
    }
    .example-item img:hover, .example-item:hover, .step-item:hover, .article-item:hover {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1);
        -ms-transform: translate(0, 0); /* IE 9 */
        -webkit-transform: translate(0, 0); /* Safari */
        transform: translate(0, 0);
    } 
    .articles {
        flex-wrap: wrap;
    }
    .article-item {
        margin-bottom: 20px;
    }
    footer ul {
	    padding: 0 0 0 16px;
	}    
}