
a:link {
  color: #692DEB;
}

a:visited {
  color: #692DEB;
}

a:hover {
  color: #FF005D;
  text-decoration: none;
}

section {
  font-family: Montserrat, sans-serif;
  font-size:60px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  padding:0px;
  text-align:center;
}

body {
  margin:0;
}

h1 {
  display:inline-block;
  opacity:0%;
  margin-top: 100px;
  margin-bottom:100px;
  -webkit-transition: opacity .3s;
  -webkit-transition-timing-function:ease-in;
}

h1:hover {
  opacity:100%;
  margin-top: 100px;
  margin-bottom:100px;
}

h2 {
  color:purple;
  display:inline-block;
}

.firstimages {
  height:500px;
  width:400px;
  display:inline-block;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;

}

.firstimages2 {
  height:500px;
  width:250px;
  display:inline-block;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
}


.and {
  height:500px;
  width:250px;
  position:absolute;
  z-index:10;
  text-align:center;
  margin-left: 270px;
  margin-right:auto;
  font-family: Montserrat; sans-serif;
  font-weight: 100;
  font-size:112px;
  vertical-align: top;
  transition: all 2s ease-in-out;
}

.and:hover {
  margin-top:100px;
}



.names {
  display:inline-block;
  text-align:left;
  margin-left: auto;
  margin-right:auto;
  font-family: Montserrat; sans-serif;
  font-weight: 700;
  font-size:85px;
  vertical-align: bottom;
  margin-top:50px;
  background:#E5DCF7;
  padding:50px;

}

.names:hover {
  background-color:#8D5FE8;
  cursor:pointer;
  -webkit-transition: background-color 2s ease-out;
   -moz-transition: background-color 2s ease-out;
   -o-transition: background-color 2s ease-out;
   transition: background-color 2s ease-out;
}

.subhead {
  text-align:left;
  margin-left: auto;
  margin-right:auto;
  font-family: Montserrat; sans-serif;
  font-weight: 700;
  font-size:30px;
  background:#E5DCF7;
  margin-top:30px;

}

.byline {
  font-size:15px;
  font-weight: 400px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.one {
  color:#FF005D;
}
.imageone {
  background-color:gray;
  height:600px;
  width:inherit;
  margin-left:40px;
  margin-right:0px;
  margin-top:30px;
  margin-bottom:10px;
  display:inline-block;

}

.imagetwo {
  background-color:gray;
  height:600px;
  width:inherit;
  margin-left:10px;
  margin-right:0px;
  margin-top:30px;
  margin-bottom:10px;

  display:inline-block;

}

.imagethree {
  background-color:gray;
  width:100%;
  margin-left:40px;
  display:inline-block;
  margin-right:40px;

}
p {
  font-family: Montserrat; sans-serif;
}


.lead {
  vertical-align: baseline;
  font-weight: 400;
  margin-right:50px;
  width:66%;
  font-size:23px;
  line-height: 40px;
  margin-top:50px;
  padding:6px;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  color:#692DEB;
  border-bottom: dotted 3px #E5DCF7;
}

.line {
  text-align:center;
  margin-left:auto;
  margin-right: auto;
  font-size: 50px;
  color:#E5DCF7;
}

.interview {
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  font-size:17px;
  width:58%;
  line-height:35px;
  margin-bottom:0;

}

.interview2 {
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  font-size:17px;
  line-height:35px;
  margin-top:-130px;
  display:inline-block;

}

.questions {
  font-family: Montserrat; sans-serif;
  font-weight:700;
  font-size: 25px;
  color:#FF005D;
}

.animateparent {
  margin-left: auto;
  margin-right:auto;
  text-align:center;
  margin-top:80px;
  margin-bottom:50px;
  padding:50px;
}

.animation1 {
  display:inline-block;
  color:white;
  padding:10px;
  width:300px;
  height:300px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.animation1:hover {
  -webkit-transform: scale(1.2);
}

.animation2 {
  display:inline-block;
  color:white;
  padding:10px;
  width:300px;
  height:300px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.animation2:hover {
  -webkit-transform: scale(1.2);
}

.animation3 {
  display:inline-block;
  color:white;
  padding:10px;
  width:300px;
  height:300px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.animation3:hover {
  -webkit-transform: scale(1.2);
}
.caption {
  display: block;
  text-align: center;
  font-family: 'Crete Round', serif;
  font-size:12px;
  margin:10px;
}

.wide {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.widespan {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mailchimp {
  display:inline-block;
  color:white;
  padding:10px;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
  width:62%;
}

.mailchimp:hover {
  -webkit-transform: scale(1.2);
}

.mailchimp2 {
  display:inline-block;
  color:white;
  padding:10px;
  width:62%;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.mailchimp2:hover {
  -webkit-transform: scale(1.2);
}

.mailchimp3 {
  display:inline-block;
  color:white;
  padding:10px;
  width:62%;
  text-align:center;
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
}

.mailchimp3:hover {
  -webkit-transform: scale(1.2);
}

.phone {
  width:320px;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
}

.highlight:hover {
  font-family: 'Montserrat', sans-serif;
  color:#E5DCF7;
  -webkit-transform: scale(1.2);
  cursor:pointer;
  -webkit-transition: background-color scale 2s ease-out;
   -moz-transition: background-color scale 2s ease-out;
   -o-transition: background-color scale 2s ease-out;
   transition: background-color scale 2s ease-out;

}

.quotebox {
  vertical-align:top;
}
.appear {
    display: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-transform: scale(1.2);
    cursor:pointer;
    float:right;
    z-index:10;
    width: 60%;
     transition: color background-color scale 2s ease-out;
     padding:15px;
     color:#8D5FE8;
     position:absolute;
     font-size:35px;
     line-height: 60px;
     border: solid #FF005D;
     background-color:#E5DCF7;
     vertical-align:text-top;

   }

.firstquote {
  font-family: 'Montserrat', sans-serif;
  font-size:19px;
  line-height: 25px;
}

.firstappear {
  color:#FF005D;
  z-index:-10;
  width:10%;
  height:10%;
  padding:30px;
  margin-left:2.5%;
  font-size:60px;
  text-align: center;
  font-weight: 700;
  background-color: #E5DCF7;
  display:inline-block;
  border: solid #FF005D;
  vertical-align: top;
}

.firstappear:hover + .appear {
    display: inline-block;
    z-index:10;
    position:absolute;
    transition: color background-color scale 2s ease-out;
    vertical-align: top;
}

video {
  height:650px;
  float:right;
  display:inline-block;
}

.squarequote {
 font-family: 'Montserrat', sans-serif;
  font-size:50px;
  line-height: 67px;
  background-color:white;
  vertical-align:text-top;
  padding:15px;
  color:#8D5FE8;
  height:650px;
  display:inline-block;
  width:45%;
  height:650px;
  font-weight: 700;
  text-align:left;
  margin-top:40px;
}

.rectanglequote {
 font-family: 'Montserrat', sans-serif;
  font-size:50px;
  line-height: 67px;
  background-color:white;
  vertical-align:text-top;
  padding:25px;
  color:#8D5FE8;
  width:95%;
  font-weight: 700;
  text-align:left;
}

.cats {
    height:100%;
    margin-top:100px;
    width:100%;
}

.mobileparent {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.mobile {
  display:none;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.endinfo {
  display: block;
  text-align: left;
  font-family: 'Crete Round', serif;
  font-size:12px;
  line-height:18px;
  width:40%;
  margin-top:50px;
  margin-bottom:20px;
  background: #FFFFFF;
  padding:10px;
  z-index:10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.triangleparent {
  width:100%;
  height:100px;
  margin: auto;
}

.face1, .face2, .face3 {
  display:block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:80px;
  transition: all 2s ease-in-out;
  margin-bottom:30px;
}


.triangle {
  width: 0;
height: 0;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-bottom: 60px solid #FFEC5E;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top:80px;
transition: all 2s ease-in-out;

}

.triangle:hover, .face1:hover {
  -webkit-transform: rotate(360deg);
  background-color: #FFEC5E;
}

.face2:hover {
  -webkit-transform:scale(2);
  background-color:#FFC9E5;
}

.face3 {
  margin-bottom:60px;
  margin-top:0;
}
.face3:hover {
  -webkit-transform: translate(0px,-250px);
  background-color: #C9FAFF;
}
/*mobile*/

@media (max-width: 768px) {

  article {
    margin-left: auto;
    margin-right: auto;
  }

.article,  .lead, .interview, .interview2 {
    width:80%;
    font-size:13px;
    line-height:20px;
    margin-left: auto;
  margin-right: auto;
  margin-top: auto;}

.interview2 {
  width:100%;
}

.subhead, .byline {
  font-size:20px;
  line-height: 25px;
}

  .questions {
    font-size:20px;
    line-height:28px;
    width:80%; }

 .animateparents, video {
    width:80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
  }

video {
  display:none;
}

.widespan, .wide {
  width: 100%;
  box-sizing: border-box;
}

  .quotebox {
    display:none;
    box-sizing: border-box;
  }

  .caption, .endinfo {
    font-size:12px;
    line-height: 25px;
  }

.endinfo {
  width:70%;
}
  .squarequote {
    width:80%;
    height:inherit;
    margin-left: auto;
    margin-right: auto;
    font-size:25px;
    box-sizing: border-box;
  }

  .squarequote, .rectanglequote {
    background-color: #E5DCF7;
    font-size:32px;
    line-height: 42px;
    margin-top:20px;

  }
  img {
    margin: 10px;
  }

  .imageone, .imagetwo {
    background-color:gray;
    height:inherit;;
    width:30%;
    margin-left:0px;
    margin-right:0px;
    margin-top:30px;
    margin-bottom:0px;
    display:inline-block;

  }

.firstimages3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.and {
  display:none;
}
  .mobile, .mobileparent{
    display:block;
    width:50%;
  }

  .names {
    width:80%;
    display:inline-block;
    text-align:left;
    margin-left: auto;
    margin-right:auto;
    font-family: Montserrat; sans-serif;
    font-weight: 700;
    font-size:45px;
    vertical-align: bottom;
    margin-top:50px;
    background:#E5DCF7;
    padding:50px;

  }

.endinfo {
  margin-left: auto;
  margin-right:auto;
}

  .imagethree {
    margin:0px;
  }

}
