/*html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/

/* GENERAL */

body {
    margin: 0;
    font-family: Helvetica;
}

body > header, body > section {
    padding-left: 20px;
    padding-right: 20px;
}


/* SPECIFIC */

/* task */
.task {
    font-size: .8em;
}
.task-no {
    background: coral;
    font-weight: bold;
    padding: 4px;
}

/* body header */
body > header {
    background: #efefef;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 20px;
}
body > header h1 {
    font-size: 60px;
    margin: 0;
}

/* section */
body > section > header > h1 {
    font-size: 30px;
    color: coral;
    border-bottom: 3px solid coral;
    display: inline-block;
}

/* examples */
.examples {
    background: #FFFFD0;
    padding: 10px 10px 30px;
    margin: 0 0 10px;
}
.examples > h1 {
    color: rgba(0,0,0,.5);
    margin-top: 6px;
}
.examples.borders > span, 
.examples.borders  > div,
.examples.borders  > h2,
.examples.borders  > em {
    border: 1px solid green;
    line-height: 1.5;
    margin-bottom: 4px;
}
.list-unstyled {
    list-style: none;
}
.w-1000 {
    width: 1000px;
}
.w-100 {
    width: 100px;
}
.w-40p {
    width: 40%;
}
.h-100 {
    height: 100px;
}
.div-inline {
    display: inline;
    margin: 5px;
}
.span-block {
    display: block;
    margin: 5px;
}
.sideby > div {
    border: 1px solid green;
    display: inline-block;
    padding: 20px;
    margin: 4px;
    max-width: 30%;
    text-align: center;
}
.circle-img {
    background: green;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto;
}
.code {
    font-family: monospace;
}
.center-items {
    text-align: center;
}
.span-box {
    border: 1px solid green; 
}
.div-center {
    margin: 0 auto;
    width: 50%;
    height: 60px;
}
.pre-float {
    background: green;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}

/* deep dive */
.deepdive {
    background: #efefef;
    padding: 10px 20px 30px;
    margin-left: -20px;
    margin-right: -20px;
}
.deepdive > h1 {
    color: rgba(0,0,0,.5);
}
.deepdive .examples {
    background: none;
    border: 2px solid #ffffff;
}


/* MOBILE */

@media (max-width: 768px) {
}