/*

h1 {
   color: #66c2ff;
   font-size: 20px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: .3px;
   font-weight: bold;
   border-bottom: 1px solid #000000;
   display: inline-block;
   margin-top: 30px;
   margin-bottom: 100px;
   margin-left: auto;
   margin-right: auto;
   font-family:helvetica, serif;
}

p {
  line-height: 1.5;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  font-family:font-family: 'Josefin Slab', serif;
}

p:first-of-type {
  font-style: italic;
}


*/


/*GENERAL*/


body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(#FF4998, #5DB1FF);
 /* For Safari 5.1 to 6.0 */
}




.jon{
    font-family: 'Roboto', sans-serif;
    font-size: 250px;
    z-index: 0;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: -50px;
    position: relative;
    color:#5DB1FF;
}

.burgerman{
    font-family: 'Roboto', sans-serif;
    font-size: 250px;
    z-index: 0;
    margin-top: -60px;
    margin-left: 50px;
    margin-bottom: 0px;
    position: relative;
    color: #5DB1FF;
}




/*SPECIFIC*/

.photo1{
    float:left;
    width:120%;
    height:650px;
    margin-top: -618px;
    margin-left: -10px;
    margin-bottom: 70px;
    border-top: 350px solid #FF4998;
    overflow: hidden;
    z-index: -1;
}

.photo1 img{
    width: 100%;
    z-index: -5;
    margin-top: -300px;
}



.subhead{
  color: white;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10px;
}

.line {
  height:5px;
  width: 80%;
  background: white;

      /* border:2px dotted black; */    
  top: -150px;
  position: relative;
  z-index: 5;
  margin-left: 10%;
  margin-right: 10%;
}



.caption1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;  
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.captionf{
    margin-top: 20px;
    border-top: 20px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;  
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.q1{
  font-size: 60px;
  font-style: bold;
  color: #FF4998;
  z-index: 7;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 200px;
}

.a1{
  color: #5DB1FF;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -50px;
}

.a2{
  color: #5DB1FF;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -5px;
}


.quote{
  font-family: 'Lora', serif;
  color:yellow;
  z-index: 0;
  font-size: 100px;
  margin-top: -930px;
  margin-left: 300px;
  margin-bottom: -900px;
  opacity: .3;

}

.quotemark{
  font-family: 'Lora', serif;
  color:yellow;
  font-size: 500px;
  opacity: .3;
  margin-left: 160px;
  margin-top: 40px;
}

.quotemarkend{
  font-family: 'Lora', serif;
  color:yellow;
  font-size: 500px;
  opacity: .3;
  margin-left: 870px;
  margin-top: 820px;
  margin-bottom: -400px;
}




/*MOBILE*/



/*768px is the moment when it transforms. so it changes at 768px */

@media (max-width:768px){
    
    h1, p, aside{
/*        width:350px;*/
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    aside{
        font-size: 50px;
    }
    
    .image-2up{
        display: block;
        width: 100%;
        margin-top:20px;
       
    }
    
}

















