/*general*/


body{
    margin:0px;
}
h1, p, aside{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.interviewer{
   font-family: 'Patua One', cursive;
    color:darkgoldenrod;
    font-size: 20px;
    margin-top: 60px;
}

.interviewee{
     font-family: 'Anaheim', sans-serif;
    font-size: 28px;
    line-height: 1.5;
}



/*specific*/



.header{
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}

.headerimg{
    background:black;
    position:relative;
    width: 40%;
    display:inline-block;
    margin-left: 3%;
    margin-right:auto;
    margin-top: 10%;
    vertical-align: top;
    text-align: left;
    
    
}

.ping{
    display:block;
    margin-top:1%;
    margin-right: auto;
    margin-left:48%;
    position:relative;
    color:darkgoldenrod;
    width:15%;
    vertical-align:bottom;
    
    
}


.stroke1{
    width:15%;
    margin-right: auto;
    margin-left: 78%;
    margin-top:-7%;
    position:absolute;
    display:block;
    text-align: right;
    animation-name: fadein2;
    animation-duration: 3s;
   
}

.stroke2{
    width:35%;
    margin-top: 10%;
    margin-left:10%;
    animation-name: fadein;
    animation-duration: 5s;
   
}


@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1}
}

@keyframes fadein2 {
    0% {opacity:0;}
    7%{opacity:0;}
    100% {opacity:1}
}

/*
.stroke2:hover{
    opacity: 1;
    transition:.3s ease-in-out;

}
.stroke1:hover{
    opacity: 1;
    transition: 0.3s ease;
    
}
*/

.by{
    
    color:darkgoldenrod;
    font-family: 'Patua One', cursive;
    font-size: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.subhead{
    font-family: 'Anaheim', sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
   

}
.lead{
    font-family: 'Anaheim', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    font-size: 20px;
     
}


.stroke3{
    width:320px;
    position: absolute;
    display: inline-block;
    margin-left: 120px;
    margin-top: -50px;
    opacity:.8;
    opacity:.7;
    transition: 0.5s ease;

}

.stroke3:hover{ 
    opacity:1;
    transition: 0.5s ease;
    
}
.goldsub{
    color:lightgrey;
    opacity: 1;
    z-index: 1;
    transition: 10s ease; 
}

.goldsub:hover{
    color:darkgoldenrod;
    transition: .1s ease; 
    z-index: 1;
}
/*
.mark{
    width:630px;
    text-align: center;
     margin-left: 20vw;
    margin-top:-6%;
    position:absolute;
    opacity:1;
    transition: 0.5s ease;
    z-index: -1;
   
    
}
.mark2{
    width:430px;
    text-align: center;
     margin-left: 47.5vw;
    margin-top:-10%;
     opacity:1;
    position:absolute;
      z-index: -1;
    
}

.mark:hover{
   opacity:.3;
    transition: 0.3s ease; 
}
.mark2:hover{
   opacity:.3;
    transition: 0.3s ease; 
}
*/
.stroke4{
    width:23vw;
    opacity:.7;
    position:absolute;
    margin-left: 60vw;
    margin-bottom: -10vw;
    opacity:.3;
    transition: 0.3s ease;
    
}
.stroke4:hover{ 
    opacity:1;
    transition: 0.3s ease;
    
}

.photogroup1{
    width:70vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 80px;
    text-align: center;
}

.photo1{
    
    margin-right: auto;
    margin-left: auto;
    width:52vw;
    text-align: center;
    
}

.photo2{
    width:28vw;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    margin-top: 30px;

}

.photo3{
    width:17vw;
    margin-right: auto;
    margin-left: 100px;
    display: inline-block;
    text-align: right;
    padding-top: 20px;
    
    
    
}

.captions{
    font-family: 'Anaheim', sans-serif;
    color: darkgoldenrod;
    font-size:15px;
    padding-top: 10px;
    text-align: left;
   
    
}

.cap2{
    width:28vw;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    
}

.cap3{
    width:17vw;
    margin-right: auto;
    margin-left: 100px;
    text-align: left;
    display: inline-block;
    
}

.photo4{
    width:30vw;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;

}

.cap4{
    width:30vw;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    display:block;
    font-family: 'Anaheim', sans-serif;
    color: darkgoldenrod;
    font-size:15px;
    padding-top: 10px;
    
}

.photocap4{
    text-align: center;
    width:50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

.stroke5{
    width:25vw;
    opacity:.7;
    position:absolute;
    margin-left: 15vw; 
    opacity:.3;
    transition: 0.3s ease;
}
.stroke5:hover{ 
    opacity:1;
     transition: 0.3s ease;
}
.stroke6{
    width:30vw;
    opacity:.7;
    position:absolute;
    margin-left: 1vw;
    opacity:.3;
    transition: 0.3s ease;
}
.stroke6:hover{ 
    opacity:1;
     transition: 0.3s ease;
}
.stroke7{
    width:30vw;
    opacity:.7;
    position:absolute;
    margin-left: 60vw;
    opacity:.3;
    transition: 0.3s ease;
}
.stroke7:hover{ 
    opacity:1;
     transition: 0.3s ease;
}
.stroke8{
    width: 30vw;
    position:absolute;
    opacity: .7;
    margin-left: 5vw;
    opacity:.3;
    transition: 0.3s ease;
    
}

.stroke8:hover{ 
    opacity:1;
     transition: 0.3s ease;
}
.stroke9{
    width: 27vw;
    position:absolute;
    opacity: .7;
    margin-left: 62vw;
    margin-top: -10vw;
    opacity:.3;
    transition: 0.3s ease;
}
.stroke9:hover{ 
    opacity:1;
     transition: 0.3s ease;
}
.stroke10{
    width: 27vw;
    position:absolute;
    opacity: .7;
    margin-left: 50vw;
    margin-top: -15vw;
    opacity:.3;
    transition: 0.3s ease;
}

.stroke10:hover{ 
    opacity:1;
     transition: 0.3s ease;
}
.stroke11{
    width: 20vw;
    position:absolute;
    opacity: .7;
    margin-left: 28vw;
    margin-top: 3vw;
    opacity:.3;
    transition: 0.3s ease;
}

.stroke11:hover{ 
    opacity:1;
     transition: 0.3s ease;
}
.photo5{
    display:inline-block;
    width:35vw;
    margin-top: 5vh;
    margin-bottom: auto;
    text-align: center;
    margin-top:20px;
}

.photogroup2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

.cap5{
    width:35vw;
    margin-bottom: 5vh;
    
}


.photo6{
    width:35vw; 
    
}
.cap6{
    width:35vw;
}

.photogroup3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

.photogroup4{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

.photo7{
    width:35vw;
}

.cap7{
    width:35vw;
}
.medusa-vid{
    text-align: left;
    display:inline-block;
    width:18vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 23px;
    
}

.ending{
    text-align: left;
     margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family:'Anaheim', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.video{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}





/*mobile*/

@media (max-width: 1050px){


    * {
        overflow-x: hidden;
    }    



h1, p, aside{
    width:70vw;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    }
    
.header{
    height:70%;
}   
    
.lead{
    font-family: 'Anaheim', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: 20px;
     
}
.headerimg{
    background:white;
    width: 90%;
    display:inline-block;
    margin-left: auto;
    margin-right:auto;
    margin-top:auto;
    padding:4%;
    vertical-align: middle;
    text-align: center;
      
}
    
.stroke1 {
    width:30%;
    margin-right: auto;
    margin-left: 70%;
    margin-top:-17%;
    display:block;
    text-align: right;
    position:absolute;
    animation-name: fadein2;
    animation-duration: 3s;
    
    }

    
.stroke2 {
    width:35%;
    position: absolute;
    display: inline-block;
    margin-left: -2%;
    margin-top: 3%;
    text-align: left;
    z-index: 1;
    }
.stroke3{
    display:none;  
    }    
   
.ping{
    display:block;
    margin-top:auto;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    position:relative;
    width:30%;
    vertical-align:bottom;
  
}
 
.photogroup1{
    width:50vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 80px;
}
    
.photo1{
    
    margin-right: auto;
    margin-left: auto;
    width:50vw;
    
} 
.photo2{
    
    margin-right: auto;
    margin-left: auto;
    width:50vw;
    vertical-align: center;
    
} 
.photo3{
    
    margin-right: auto;
    margin-left: auto;
    width:50vw;
    
} 
    
.photo4{
    width:35vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
    
.captions{
    font-family: 'Anaheim', sans-serif;
    color: darkgoldenrod;
    font-size:15px;
    padding-top: 10px;
    text-align: left;
    width:50vw;
    
}

.cap2{
    width:50vw;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    
}

.cap3{
    width:50vw;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    display: inline-block;
    
}
    
.cap4{
    width:35vw;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    display:block;
    font-family: 'Anaheim', sans-serif;
    color: darkgoldenrod;
    font-size:15px;
    padding-top: 10px;
    
    
}
    
     
.photo5{
    display:inline-block;
    width:40vw;
    margin-top: 30px;
    margin-bottom: auto;
    text-align: center;
    

}

.cap5{
    width:40vw;
    text-align: left;
    margin-bottom: auto;
    
}
    
}












@media (max-width: 768px){
    
.interviewer{
   font-family: 'Patua One', cursive;
    color:darkgoldenrod;
    font-size: 16px;
    margin-top: 60px;
    line-height: 1.5;
}

.interviewee{
    font-family: 'Anaheim', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.subhead{
    font-family: 'Anaheim', sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
   

}
.cap4{
    width:50vw;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    display:block;
    font-family: 'Anaheim', sans-serif;
    color: darkgoldenrod;
    font-size:15px;
    padding-top: 10px;
    display:inline-block;
    
}

.photo4{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;

}

.photo5{
    display:inline-block;
    width:40vw;
    margin-top: 30px;
    margin-bottom: auto;
    text-align: center;
    

}

.cap5{
    width:40vw;
    text-align: left;
    margin-bottom: auto;
    
}

.photogroup2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.medusa-vid{
    text-align: left;
    display:inline-block;
    width:40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    
}
    


}

/* Canvas */

#defaultCanvas {
    position: absolute ;
    top: 0px;
    left: 0px;
/*    background-color: bisque;*/
}
