/* keyframes */

@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #efefef }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #efefef;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #efefef }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #efefef;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #efefef }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #efefef;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #efefef }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #efefef;
    }
}

/* styles */

h1 {
    margin-top: 40%;
    font-size: 60px;
    color: white;
    text-align: center;
    transition: .5s ease;
}
.title {
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.red {
  color: rgba(203, 5, 5, 0.23);
  font-family: Arial;
}

.title:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.outer-frame {
    width: 300px;
    height: 600px;
    border: 1px solid #efefef;
    border-radius: 30px;
    margin: 4% auto 0 auto;
    background: #ffffff;
    transition: .5s ease;
}
.inner-frame {
    width:260px;
    height: 460px;
    border: 1px solid #efefef;
    margin: 50px auto 0 auto;
    background-color: #efefef;
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
    transition: .5s ease;
    overflow: scroll;
}
.status-bar {
    height: 14px;
    padding-top: 2px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: .5em;
    font-family: arial;
    box-sizing: border-box;
    transition: .5s ease;
}

.toggle-bar {
    position:absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}


/* DESKTOP */

.outer-frame.desktop {
    width: 900px;
    height: 560px;
    border-radius: 10px;
}
.outer-frame.desktop .inner-frame {
    width:860px;
    height: 480px;
    margin-top: 20px;
}
.outer-frame.desktop .status-bar {
    display: none;
}
.outer-frame.desktop h1 {
    margin-top: 10%;
    font-size: 140px;
}

